<div id="innercontent" class="clearfix">
                	<a name="top"></a>
                	<h1>About Northern Star</h1>
                    <%= image_tag "storefront.jpg", :class=>"fright", :alt=>"Main Office" %>
                    <ul class="anchor">
                    	<li><%= link_to "Contact Us", new_contact_path %></li>
                        <li><%= link_to "Hours and Locations", :anchor =>"hours" %></li>
                        <li><%= link_to "Calendar", :anchor => "calendar" %></li>
                        <li><%= link_to "Staff", :anchor => "staff" %></li>
                        <li><%= link_to "Scholarships", :anchor => "scholarship" %></li>
                        <li><%= link_to "Employment", :anchor => "employment" %></li>
                        <li><%= link_to "Our History", :anchor => "history" %></li>
                    </ul>
                    <a name="hours"></a><h2>Hours &amp; Locations</h2>
                    <p>&nbsp;</p>
                    <table class="hours">
                    	<tr>
                        	<th>Address</th>
                            <th>Hours</th>
                        </tr>
                    	<tr>
                    	    <td><strong>Main Branch</strong><br />
                            	5100 George Washington Highway<br />
                                Portsmouth, VA  23702</td>
                    	    <td rowspan="2"><strong>Lobby Hours</strong><br />
                    	        Mon - Thu: 9:00am - 5:00pm<br />
                    	        Fri: 9:00am - 5:30pm<br />
                    	        Sat: 9am - noon<br />
                    	        <br /><strong>Drive-through Hours</strong><br />
                    	        Mon - Thu: 8:30am - 5:30pm<br />
                                Fri: 8:30am - 6:00pm<br />
                            	Sat: 9am - noon</td>
                	    </tr>
                    	<tr>
                    	    <td>&nbsp;</td>
                	    </tr>
                    	<tr>
                    	    <td><strong>Hanbury Branch</strong><br />
                    	        237 Hanbury Road E.<br />
                   	        	Chesapeake, VA&nbsp; 23322<strong> </strong></td>
                    	    <td>Mon - Thu: 9am - 5pm<br />
                                Fri: 9am - 5:30pm<br />
                            	Sat: 9am - noon</td>
                	    </tr>
                    	<tr>
                    	    <td>&nbsp;</td>
                    	    <td>&nbsp;</td>
                	    </tr>
                    	<tr>
                    	    <td><strong>Harbour View Branch</strong><br />
                                5885 Harbour View Boulevard<br />
                            	Suffolk, VA&nbsp;  23435</td>
                    	    <td>Mon - Thu: 9am - 5pm<br />
                                Fri: 9am - 5:30pm<br />
                            	Sat: 9am - noon</td>
                	    </tr>
                    	<tr>
                    	    <td>&nbsp;</td>
                    	    <td>&nbsp;</td>
                   	    </tr>
                    	<tr>
                    	    <td><strong>Elmhurst Branch</strong><br />
                    	        5624 Portsmouth Boulevard<br />
           	            		Portsmouth, VA&nbsp; 23701</td>
                    	    <td>Mon - Thu: 9am - 5pm<br />
                                Fri: 9am - 5:30pm<br />
                            	Sat: 9am - noon</td>
                	    </tr>
                    </table>
                    <p>
                    	Northern Star is a member of a nationwide shared branch
                        network known as <%= link_to "Credit Union Service Centers", "http://www.creditunion.net", :rel=>"external" %>.&nbsp; At any one of these
                        facilities, Northern Star members can check balances,
                        make transactions, make loan payments, and, if available,
                        use an ATM.&nbsp; Credit Union Service Centers has a 
                        <%= link_to "website", "http://www.creditunion.net", :rel=>"external" %> with
                        a complete listing of facilities across the country.&nbsp; Service
                        centers are typically open Monday through Friday 9 A.M.
                    to 7 P.M. and on Saturdays from 9 A.M. to 5 P.M.&nbsp;</p>
                    <table class="hours">
                        <tr>
                            <th>Virginia Service Center</th>
                            <th>Address &amp; Phone Number</th>
                        </tr>
                        <tr>
                            <td>Portsmouth Branch</td>
                            <td>5798 Churchland Boulevard<br />
                                Portsmouth, VA 23703<br />
                                Phone: 757-686-2000</td>
                        </tr>
                        <tr>
                            <td>Battlefield Branch</td>
                            <td>677 N. Battlefield Boulevard<br />
                                Chesapeake, VA 23320<br />
                                Phone: 757-548-1047</td>
                        </tr>
                        <tr>
                            <td>Virginia Beach Branch</td>
                            <td>4288 Holland Road<br />
                                Virginia Beach, VA&nbsp; 23452<br />
                                Phone: 757-463-8848</td>
                        </tr>
                        <tr>
                            <td>Norfolk Branch</td>
                            <td>5957 E Virginia Beach Boulevard<br />
                                Norfolk, VA&nbsp;     23502<br />
                                Phone: 757-274-0180</td>
                        </tr>
                        <tr>
                            <td>Yorktown Branch</td>
                            <td>1600 George Washington Memorial Highway<br />
                                Yorktown, VA 23693<br />
                                Phone: 757-599-4541</td>
                        </tr>
                        <tr>
                            <td>Richmond Branch</td>
                            <td>10450 Midlothian Turnpike<br />
                                Richmond, VA 23235<br />
                           		Phone: 804-330-4233</td>
                        </tr>
                        <tr>
                            <td>Richmond Branch</td>
                            <td>Fairfield Commons Shopping Center<br />
                                5001 Nine Mile Road<br />
                                Richmond, VA 23223<br />
                                Phone: 804-236-1970</td>
                        </tr>
                        <tr>
                            <td>Woodbridge Branch</td>
                            <td>14527 Jefferson Davis Highway<br />
                                Woodbridge, VA 22191<br />
                                Phone: 703-491-6095</td>
                        </tr>
                        <tr>
                            <td>Colonial Heights Branch</td>
                            <td>Walmart Supercenter<br />
                                671 Southpark Boulevard<br />
                                Colonial Heights, VA 23834<br />
                                Phone: 804-504-0090</td>
                        </tr>
                    </table>
                    <h3>ATMs</h3>
                    <p>
                    	Northern Star offers its membership surcharge-free ATMs
                        at each branch and other various locations.&nbsp; In
                        addition to Northern Star ATMs, our members can use other
                        surcharge-free machines within the CU Here network.&nbsp; A
                        list of CU Here machines can be found at the <%= link_to "Credit Union 24 website", "http://www.cu24.com", :rel=>"external" %>.&nbsp; Below is a list of Northern
                    	Star's ATMs. 
                    </p>
                    <table class="hours">
                        <tr>
                            <th>ATMs</th>
                            <th>Location</th>
                        </tr>
                        <tr>
                            <td>George Washington ATM</td>
                            <td>5100 George Washington Highway<br />
                                Portsmouth, VA 23702</td>
                        </tr>
                        <tr>
                            <td>Elmhurst ATM</td>
                            <td>5624 Portsmouth Boulevard<br />
                                Portsmouth, VA 23701</td>
                        </tr>
                        <tr>
                            <td>M-32 ATM</td>
                            <td>Bldg. M-32<br />
                                Norfolk Naval Shipyard<br />
                                Portsmouth, VA 23709</td>
                        </tr>
                        <tr>
                            <td>Navy Exchange ATM</td>
                            <td>Navy Exchange<br />
                                Norfolk Naval Shipyard<br />
                                Portsmouth, VA 23709</td>
                        </tr>
                        <tr>
                            <td>Fleet Store ATM</td>
                            <td>Fleet Store<br />
                                Norfolk Naval Shipyard<br />
                                Portsmouth, VA 23709</td>
                        </tr>
                        <tr>
                            <td>Harbour View ATM</td>
                            <td>5885 Harbour View Boulevard<br />
Suffolk, VA&nbsp;  23435</td>
                        </tr>
                        <tr>
                            <td>Hanbury ATM</td>
                            <td>237 Hanbury Road E.<br />
Chesapeake, VA&nbsp; 23322<strong></strong></td>
                        </tr>
                    </table>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="calendar"></a>
                    <h2>Calendar 2010</h2>
                    <p>&nbsp;</p>
                    <table width="350">
                        <tr>
                            <td>January 1</td>
                            <td>New Year's Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>January 18</td>
                            <td>Martin Luther King Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>February 15</td>
                            <td>President's Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>April 19</td>
                            <td>Northern Star Annual Meeting - 4:00pm</td>
                        </tr>
                        <tr>
                            <td>May 31</td>
                            <td>Memorial Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>July 5</td>
                            <td>Independence Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>September 6</td>
                            <td>Labor Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>October 11</td>
                            <td>Columbus Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>October 29</td>
                            <td>Northern Star Anniversary Date</td>
                        </tr>
                        <tr>
                            <td>November 11</td>
                            <td>Veterans Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>November 25</td>
                            <td>Thanksgiving Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>December 24</td>
                            <td>Christmas Eve - CLOSED EARLY</td>
                        </tr>
                        <tr>
                            <td>December 25</td>
                            <td>Christmas Day - CLOSED</td>
                        </tr>
                        <tr>
                            <td>December 31</td>
                            <td>New Year's Eve - CLOSED EARLY</td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="staff"></a><h2>Staff</h2>
                    <p>&nbsp;</p>
                    <table class="hours">
                        <tr>
                            <th colspan="2">Board of Directors</th>
                        </tr>
                        <tr>
                            <td>Charles R. Parker</td>
                            <td>Chairman</td>
                        </tr>
                        <tr>
                            <td>Bernard G. Matthews</td>
                            <td>Vice Chairman</td>
                        </tr>
                        <tr>
                            <td>Sue R. King</td>
                            <td>Secretary/treasurer</td>
                        </tr>
                        <tr>
                            <td>David W. Smith</td>
                            <td>Director</td>
                        </tr>
                        <tr>
                            <td>Roger E. Early</td>
                            <td>Director</td>
                        </tr>
                        <tr>
                            <td>Darlene N. Moore</td>
                            <td>Director</td>
                        </tr>
                        <tr>
                            <th colspan="2">Supervisory Committee</th>
                        </tr>
                        <tr>
                            <td>Diane Tyson</td>
                            <td>Chairman</td>
                        </tr>
                        <tr>
                            <td>James Stevens</td>
                            <td>Committee Member</td>
                        </tr>
                        <tr>
                            <td>William Huskey</td>
                            <td>Committee Member</td>
                        </tr>
                        <tr>
                            <th colspan="2">Executive Management</th>
                        </tr>
                        <tr>
                            <td>Roger E. Early</td>
                            <td>President &amp; CEO</td>
                        </tr>
                        <tr>
                            <td>Joann B. Brown</td>
                            <td>Chief Financial Officer</td>
                        </tr>
                        <tr>
                            <td>Alexis A. Hines</td>
                            <td>VP of Human Resources &amp; Lending</td>
                        </tr>
                    </table>
					<p>&nbsp;</p>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="scholarship"></a><h2>Scholarships</h2>
                    <%= image_tag "frankwright.jpg", :class=>"fright", :alt=>"Frank Wright" %>
                    <p>&nbsp;</p>
                    <p><strong>&ldquo;Education
                        is what remains after one has forgotten what one
                        has learned in school.&rdquo;</strong><br />
                        &shy;- Albert Einstein<br />
   					</p>
                    <p><br />
                    Northern Star Credit Union has awarded the W. Frank Wright  Memorial Scholarship to four high school graduates. This year&rsquo;s recipients were  LaRanda Coleman of Portsmouth, Jazmin Coleman of Portsmouth, Katherine Shinault  of Chesapeake, and Joshua Mann of Portsmouth.&nbsp; Each student is looking  forward to attending college in the fall 2010 semester.&nbsp; High school  seniors who are members of Northern Star or are immediate family to a Northern  Star member are eligible for the W. Frank Wright Scholarships.&nbsp; Recipients  were chosen based on academics, community involvement, character, and financial  need.</p>
                    <p><br />
                        <strong>Applications for next year&rsquo;s scholarship will be  available in January 2011 at a Northern Star branch or with your high school  guidance counselor.</strong>&nbsp;</p>
<p class="top"></p>
                    <hr />
                    <a name="employment"></a><h2>Employment</h2>
                    <p>
                        Ideal candidate will be experienced in cash handling, sales and customer service. 
                        Competitive salary and benefits. Send resume w/salary requirements to:
                    </p>
                    <address> 
                        <strong>Northern Star Credit Union</strong><br />
                        Attn: Human Resources<br />
                        5100 George Washington Hwy<br />
                        Portsmouth VA 23702 <br />
                        Fax to 757-558-8000
                    </address>
                    <p> Northern Star Credit Union, Inc.  accepts applications for full and part
                            time positions. Applicants must be energetic and possess excellent customer
                            service skills. We offer competitive salary and an excellent benefits
                            package. Fax a resume listing skills, experience, education, training,
                            and salary history to: (757) 558-8000 Attention: Human Resources E.O.E.
                    </p>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
					<p><a name="history"></a></p><h2>History</h2>
                    <%= image_tag "ship.png", :class=>"fright", :alt=>"Navy Ship" %>
					<h3>The Roots of a Great Institution</h3>
					<p>
                        No company founded in 1928 could have grown and prospered over a period of 75
                        years without certain unwavering characteristics. It must be willing to change
                        with the times, be willing to take risk, have endured difficulty only to
                        become stronger, be willing to make the &ldquo;right&rdquo; decision not
                        necessarily the one accepted as norm and first and foremost be willing to
                        look at the future and embrace it. The Credit Union has met this test over
                        time. The following is but a brief outline of events that have shaped the
                        institution into the one that exists today.<br />
                        After the organization meeting and the election of the first officers, the group
                        began the process of developing the by-laws and submitting the application to
                        the State Corporation Commission for their charter. On June 7, 1929 the charter
                        was received and stated: 
                    </p>
                   	<blockquote>
                        <p>IT IS ORDERED BY THE COMMISSION, that certificate be,<br />
                            and is, hereby granted, authorizing the said Navy Yard<br />
                            Credit Union, Incorporated, to commence business as a<br />
                            credit union, as provided by Chapter 449, Acts of the<br />
                            General Assembly of Virginia, 1922.
                        </p>
                   	</blockquote>
                        <p>
                            All fledgling businesses have difficult times during their first year of operation.
                            But to say that the first anniversary in October 1929 was difficult times would
                            be an understatement. In October 1929 the stock market crashed beginning the
                            Great Depression. The Credit Union, however, survived. The original ledger book
                            shows that on the close of business on December 31, 1929 assets stood at $1,194.08
                            and net income was $25.53.<br />
                            During these early years policies and procedures were in the development stages.
                            The first loan policy is noted in the Board minutes of November 8, 1933. This
                            initial loan policy was:
                        </p>
                   	<blockquote>
                        <p>Beginning November 9, 1933 the Credit Union will<br />
                            make loans in the maximum amount of $100.00 to <br />
                            all persons making $6.00 per day or more, and loans<br />
                            in the maximum amount of $50.00 to all persons making<br />
                            less that $6.00 per day&hellip;&nbsp;
                        </p>
                    </blockquote>
                    <p>As a result of the stable employment available at the shipyard during the 1930&rsquo;s,
                        the Credit Union had steady growth during the decade. From outstanding loans
                        on December 31, 1929 of $1,103.50 the shareholders of the Credit Union were able
                        to obtain loans that totaled $79,298.66 as of December 31. 1939. While the credit
                        union principal of  &ldquo;People Helping People&rdquo; had not yet been formally
                        established, this principal was alive and at work at your Credit Union during
                        the worst economic period in the history of the country.
                    </p>
                    <p><strong>World War II</strong><br />
                        During the 1940&rsquo;s the shipyard experienced a significant
                        increase in the number of employees as a direct result
                        of World War II. The same can not be said regarding the
                        
                        growth of the Credit Union. By December 31, 1940 outstanding
                        loans had reached $92,312.45 and total shares on deposit
                        stood at $87,719.65. By December 31. 1949 these numbers
                        had declined to $45,238.77 in loans and $33,414.36 in
                        shares. The lowest points during the decade occurred
                        in November 1946 when outstanding loans stood at $11,351.11
                    and in December 1947 when total shares were at $21,230.87. </p>
                    <p>
                        The decade was not without its&rsquo; highpoints. As
                        was the case throughout the country, the Credit Union
                        provided additional support for the war effort by purchasing
                        War Bonds. The highest point of support was reached in
                        December 1944 when the Credit Union owned $12,510.00
                        in War Bonds on an asset base of approximately $64,400.00.
                    </p>
                    <p>
                        By means of comparison the Credit Union would need to
                        own approximately $17.5 million in War Bonds on December
                        31, 2002 to equal the support shown in 1944.
                    </p>
                    <p><strong>Employment &amp; Equality</strong> <br />
                        A by-product of the declines experienced in the 1940&rsquo;s
                        was the financial difficulties that occurred during the
                        early 1950&rsquo;s. The problems were further compounded
                        by the fact that the shipyard began to reduce its&rsquo; workforce
                        after the war. The Board minutes of June 1950 reflect
                        the concern raised by the State Examiner regarding the
                        need to immediately address the level of delinquent loans.
                        The problem of delinquent loans and their impact on income
                    	would get worse.
                    </p>              
                    <p>
                        While 1951 ended with a small positive net income, the
                        ledgers reflect that for 5 months of the year a loss
                        was experienced. 1952 showed the same trend continuing
                        with a small positive income of $993.72 at year-end.
                        The Credit Union was unable to reverse this course in
                        1953 and 1954 when it reported annual losses of $1,872.95
                        and $2758.56 respectively. It was not until 1955 that
                        the losses would be reversed and only later that the
                        delinquent loan problem was brought under control. It
                        was during this period in November 1952 that the Board
                        hired the Credit Union&rsquo;s first employee Mrs. Marion
                        Brown.
                    </p>
                    <p>
                        Mr. Baylor, State Examiner, addressed the seriousness
                        of the problems at the Board meeting on June 2, 1955.
                        At this meeting Mr. Baylor reported that:
                    </p>
                    <blockquote>
                        <p>&quot;&hellip;generally, there had been a great improvement in the <br />
                            Credit Union and that as of 22 January, 1954, the date of <br />
                            their last visit, we were as near liquidation as we probably<br />
                            ever would be&hellip;&quot;
                        </p>
                    </blockquote>
                        <p>Mr. Baylor also addressed the level of delinquent loans
                            that remained by noting:
                        </p>
                    <blockquote>
                        <p>&quot;&hellip;that we now had 275 delinquents which was 47 9/10%<br />
                            of the total number of borrowers, representing 36 9/10%<br />
                            of the total money loaned.&quot;
                        </p>
                    </blockquote>
                    <p>
                        By the end of the 1950&rsquo;s the financial problems
                        had been reversed. On December 31, 1959 the Credit Union
                        reported assets of $203,714.79, loans of $179,582.45,
                        shares of $184,697.39 and net income for the year of
                        $5,934.17
                    </p>
                    <p>
                        While the 1950&rsquo;s were a period of financial stress
                        for the Credit Union, there were still certain watershed
                        events. In addition to the employment of the first employee,
                        the Credit Union moved into the area of modernization
                        with the installation of its&rsquo; first bookkeeping
                        machine. Gone were the days of manually posting the Credit
                        Union&rsquo;s books in the hardbound ledger book.
                    </p>
                    <p>
                        In 1951 the Board of Directors also made a decision based
                        solely on the fact that it was the  &ldquo;right&rdquo; thing
                        and not because &ldquo;that&rsquo;s the way it always
                        was&rdquo;. Three years before the Supreme Court decision
                        in Brown -vs- the Board of Education of Topeka, Kansas and
                        thirteen years before the passage of the 1964 Civil Rights
                        Act, the Board elected to move the Annual Meeting because
                        certain large credit union stockholders were not allowed
                        into the restaurant based solely on their race. While
                        this decision in the light of today's standards may have
                        lost some of its&rsquo; importance, in 1951 this decision
                        spoke volumes about the character of the Board and the
                        fact that all members have a right to express their opinion
                        on the operation of their credit union.
                    </p>
                    <p><strong>More Milestones Are Reached</strong> <br />
                        The 1960&rsquo;s were a period of unprecedented change
                        throughout the country. The 60&rsquo;s began with the
                        return of Elvis from the Army and ended with Woodstock
                        in New York. While the same level of turmoil was not
                        present, change was the watchword at the Credit Union.
                    </p>
                    <p>
                        <%= image_tag "elvis.jpg", :class=>"fleft", :alt=>"Elvis Presley Returning from the war" %>In June 1960 the first personnel policy was enacted by
                        the Board under the title of Employee Relations. This
                        policy addressed vacation, sick leave and weekly pay
                        periods. The 1960&rsquo;s saw the election/appointment
                        to the Board of Directors of the first woman, Ruby Jones
                        in 1962 and the first minority, J.T. Parker in 1969.
                        The first non-Credit Committee loan officer was appointed
                        in 1968 with a lending limit of $300.00.
                    </p>
                    <p>Several milestones were reached in the 1960&rsquo;s. At
                        the beginning of the decade the Credit Union assets stood
                        at $203,714.79. Assets reached $500,000.00 in March 1963
                        and surpassed $1.0 million in September 1964. On December
                        31, 1969 assets were $2,816,972.78. But it was not just
                        the dollars that grew during this period. In December
                        1959 the total number of stockholders stood at 2,500.
                        By December 1969 the number of members had increased
                        to 6,900.
                    </p>
                    <p>
                        More important than the growth of the number of people
                        that belonged to the Credit Union was the changed
                        that occurred in the organizational structure. Since
                        the date of organization the Credit Union had been
                        a stock corporation and the stockholders voted the
                        number of share owned. After 40 years, in October
                        1968 the by-laws were changed and the Credit Union
                        was no longer a stock corporation. The era of&nbsp; 
                        &ldquo;one member &ndash; one vote&rdquo; had begun.</p>
                    <p><strong>Our Identity as a &quot;Business&quot;</strong> <br />
                        If the pace of change during the 1960&rsquo;s was considered
                        quick, it only accelerated in the 1970&rsquo;s. Some
                        of the changes that occurred were:</p>
                    <ul class="bull">
                        <li>The first retirement plan for employees was implemented
                            in March 1974.</li>
                        <li>The first reference to the USS Chesapeake at the
                            logo occurred in September 1975.</li>
                        <li>Open-End loans were introduced in April 1976.</li>
                        <li>The first &ldquo;on-line&rdquo; computer system was
                            installed in June 1977.</li>
                        <li>Share Draft/Checking was introduced in December 1977.</li>
                        <li>The office at George Washington Highway was opened
                            in December 1977.</li>
                        <li>The office at M-32 was opened in December 1978.</li>
                        <li>The first member 
                        	<%= link_to "newsletter", "http://archive.constantcontact.com/fs044/1102161799240/archive/1102834632831.html", :rel=>"external" %> was published in January
                            1978.</li>
                    </ul>
                    <p>All of these changes attributed to the continued growth
                        of the Credit Union. In June 1975 the assets exceeded
                        $5.0 million for the first time. </p>
                    <p>By December 31, 1979 the Credit Union served 14,136 members
                        and had assets of $9,056,532.90.</p>
                    <p><strong>Services Are Diversified</strong> <br />
                        The rate of change continued to quicken in the 1980&rsquo;s
                        with the advent of new services, products, delivery channels
                        and technology.&nbsp; All of this was done in an economic
                        environment that had never been encountered. Interest
                        rates reached record highs and the demand for new services
                        increased. A few of the changes that occurred in the
                        1980&rsquo;s were:</p>
                    <ul class="bull">
                        <li>&nbsp;travelers Checks were sold in the branches
                            for the first time in June 1980. The cost to our
                            members was $1.00 per $100.00 purchased.</li>
                        <li>Christmas Club accounts were re-introduced in August
                            1980. These accounts were originally offered in 1949
                            only to be stopped in 1951 due to cost. This time
                            interest was paid on the accounts.</li>
                        <li>The first certificates were offered in March 1981.
                            This provided our members to an alternative for the
                            other deposit accounts offered at other institutions
                            in the high interest rate environment of the times.</li>
                        <li>The first Individual Retirement Accounts were offered
                            in January 1982.</li>
                        <li>In June 1983 a major computer system conversion occurred
                            allowing the Credit Union to stay current in the
                            area of ever-changing technology.</li>
                        <li>The first credit cards were issued in 1986.</li>
                        <li>The first ATM cards were issued in 1987. Also in
                            1987 GE Credit Union was merged into our Credit Union.</li>
                    </ul>
                    <p>In addition to the above noted changes, the internal organization
                        also underwent a complete restructuring. New departments
                        were created, new positions filed and staff training
                        became a critical component to the ability to serve the
                        member. Numerous consumer protection laws were enacted
                        requiring changes to the operation and the training of
                        the staff. These organization changes included the Board
                        and Management structure. The position of President of
                        the Board became Chairman and the position of Manager
                        of the Credit Union became President. All of these changes
                        were instrumental to the continued success and growth
                        of the Credit Union. As of December 31. 1989 the Credit
                        Union was serving 16,479 members and had an asset base
                        of $34,976,111.56.
                    </p>
                    <p><strong>Family Members Are Included</strong> <br />
                        As was the case in all of our previous decades, change
                        was &ldquo;the word&rdquo; in the 1990&rsquo;s. At
                        the beginning of the period Norfolk Naval Shipyard
                        employed approximately 14,000 people. During the
                        90&rsquo;s the shipyard reduced its&rsquo; employment
                        base to approximately 6,500 &ndash; 7,000. This event
                        could have been devastating to the Credit Union if
                        not for a change that was enacted by Congress regarding
                        the definition of field of membership. In 1991 Congress
                        approved an expansion of those individuals eligible
                        to join a credit union to include Family Members
                        and the Commonwealth of Virginia followed suit. This
                        change allowed the Credit Union to increase the number
                        of members even though the employment base in its&rsquo; primary
                        field of membership was reduced.
                    <%= image_tag "family2.jpg", :class=>"fright", :alt=>"Family" %></p>
                    <p>
                        One of the other events that occurred during this period
                        that allowed for the continued growth of the Credit Union
                        was the opening of the branch office on Taylor Road in
                        1991. At the time the Taylor Road office opened the Credit
                        Union had approximately $37 million in assets. By August
                        1992 assets reached $50.0 million and in February 1999
                        assets stood at $75.0 million.
                    </p>
                    <p>
                        The end of the period brought a new century. On December
                        31, 1999 the Credit Union served 19,437 members and had
                        assets of $79,347,672.11.
                    </p>
                    <p><strong>Northern Star Today</strong> <br />
                        Since its&rsquo;  inception in 1928 the different Boards
                        of Directors and the ever-changing membership has recognized
                        that change was necessary in order for the Credit Union
                        to fulfill its&rsquo; mission. Just as hand-posted passbook
                        accounts led to machine-posted accounts which led to
                        computer-generated statements and finally to web-based
                        account access, the continued evolution of the Credit
                        Union was not only necessary but also desired. This was
                        never more evident than by the two events that occurred
                    	at the beginning of the 21st Century.
                    </p>
                    <ul class="bull">
                        <li>In April 2000 a change to the charter that had served
                            the institution so well since 1928 was approved unanimously
                            by the membership. This new charter was obtained
                            in February 2001 and was for the entire City of Portsmouth.</li>
                        <li>In April 2001 the membership unanimously approved
                            changing the name of the Credit Union. The name change
                            was approved in September 2001 and became effective
                            on January 1, 2002.</li>
                        <li>In June 2004 an expanded community charter was obtained
                            to include all individuals in Chesapeake, Suffolk,
                            and Portsmouth.</li>
                    </ul>
                    <p>
                    	While the name on the door may have changed, the underlying
                        principal for the Credit Union as reported by Mr. Boswell
                        to the original 32 members in 1928 remains unchanged.
                    </p>
					<p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                </div>