<a name="top"></a>
                <div id="innercontent" class="clearfix">
                <h1>Business Services</h1>
                <a name="financial"></a><h2>Financial Solutions</h2>
                <h3>Business Services</h3>
                <p>If your company does business in Hampton Roads, it qualifies
                    for membership with Northern Star Credit Union.&nbsp; Since
                    Northern Star is owned by its members, we are able to
                    cut out the middle man and pass of considerable savings
                    to you.&nbsp;  All decisions are made locally by people
                    in your community who understand your needs.&nbsp; Contact
                    us today to find out what Northern Star Credit Union
                    can do for you.</p>
                <p>&nbsp;</p>
                <%= image_tag "deposit.jpg", :class=>"fright", :alt=>"smiling man" %>
                <h3>Deposit Accounts</h3>
                <p>Whether you are an up and coming business or an established company,
                    we offer a variety of checking and savings accounts to meet your
                    individual needs.&nbsp; <br />
                    With the flexibility of our Business Deposit Accounts, Northern Star Credit Union
                    is able to provide you with a custom fit as a solution for your business.&nbsp; Contact
                    us today to discover which solution is right for you.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table class="rates">
                    <tr>
                        <th colspan="3">Business Checking Accounts</th>
                    </tr>
                    <tr>
                        <td><p class="centertext">&nbsp;</p></td>
                        <td><p class="centertext"><strong>Capital Checking</strong></p></td>
                        <td><p class="centertext"><strong>Capital Investment<br />
                        Checking</strong></p></td>
                    </tr>
                    <tr>
                        <td><p class="centertext"><strong>Minimum Balance</strong></p></td>
                        <td><p class="centertext">$500</p></td>
                        <td><p class="centertext">$1000</p></td>
                    </tr>
                    <tr>
                        <td><p class="centertext"><strong>Interest Earning</strong></p></td>
                        <td><p class="centertext">No</p></td>
                        <td><p class="centertext">On Daily Balance</p></td>
                    </tr>
                </table>
                <p><span class="centertext"><br />
                        <strong><em>&nbsp;&nbsp;&nbsp;&nbsp;    Visa Check Cards
                    are included at no extra charge for all checking accounts.</em></strong></span></p>
                <table class="rates">
                    <tr>
                        <th colspan="3">Business Savings Accounts</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><p class="centertext"><strong>Capital Savings*</strong></p></td>
                        <td><p class="centertext"><strong>Capital Money<br />
                        Market</strong></p></td>
                    </tr>
                    <tr>
                        <td><p class="centertext"><strong>Minimum Balance</strong></p></td>
                        <td><p class="centertext">$500</p></td>
                        <td><p class="centertext">$1000</p></td>
                    </tr>
                    <tr>
                        <td><p class="centertext"><strong>Interest Earning</strong></p></td>
                        <td><p class="centertext">On Balances of $2500 or More</p></td>
                        <td><p class="centertext">On Daily Balance</p></td>
                    </tr>
                </table>
                <p class="smallprint">* Required for membership with any
                    Business Services Account.</p>
                <p>Signing up for a Northern Star Account can be done at any one of our branch locations.&nbsp; If
                    you have any further questions concerning this service, or any of our other services,
                    feel free to call us during regular working hours at (757)487-3474.<br />
                    <br />
                    Also available is our Community Savings and Checking
                    Accounts for local non-profit groups, clubs, and associations.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <br />
                <h3>Lending Services</h3>
                <p>
                    We understand getting a business loan can be
                    frustrating. However, Northern Star Credit
                    Union offers some of the most competitive
                    rates in town and an easier loan process
                    than you would find at other financial
                    institutions.<br />
                    Northern Star has a a variety of lending options,
                    so your business's loan can be as unique as your
                    business itself.&nbsp; We offer lending product
                    to handle all of the following situations:
                </p>
                <ul class="bull">
                    <li>Equipment Purchase </li>
                    <li>New Construction </li>
                    <li>Expansion/Renovations </li>
                    <li>Commercial Real Estate </li>
                    <li>Working Lines of Credit </li>
                    <li>Business Credit Card </li>
                </ul>
                <p>Membership is required for borrowing funds
                    from Northern Star, and is obtained by simply
                    opening a Business
                    Services Account.&nbsp; Signing up for
                    a Business Services Account can be done at
                    any one of our branch locations.&nbsp; If
                    you have any further questions concerning
                    this service, or any of our other services,
                    feel free to call us during regular working
                    hours at (757)487-3474.</p>
                <p>&nbsp;</p>
                <h3>Community Accounts</h3>
                <%= image_tag "rope.jpg", :class=>"fleft", :alt=>"team work" %>
                <p>As a community based credit union,
                    Northern Star has been a strong supporter
                    of community events for many years.&nbsp; We
                    feel that every business and individual in
                    a society is impacted by philanthropic ideals. </p>
                <p><br />
                    Northern Star would rather see your organization's money
                        go to positive actions in the community rather than high
                        fees and lofty minimum balances.&nbsp; This
                    is why we created an account exclusive for local non-profit groups, clubs, and
                    associations.&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table class="rates">
                    <tr>
                        <th colspan="3">Business Checking Accounts</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><p class="centertext"><strong>Community Savings</strong></p></td>
                        <td><p class="centertext"><strong>Community Checking</strong></p></td>
                    </tr>
                    <tr>
                        <td><p class="centertext"><strong>Minimum Balance</strong></p></td>
                        <td><p class="centertext">$100*</p></td>
                        <td><p class="centertext">None</p></td>
                    </tr>
                </table>
                <p> * Required for membership purposes only.&nbsp; Community
                    Savings and Checking Accounts are only for local
                    non-profit groups, clubs, and associations.&nbsp;
                </p>
                <p>
                    Signing up for a Northern Star Community Account
                    can be done at any one of our branch locations.&nbsp; If
                    you have any further questions concerning
                    this service, or any of our other services,
                    feel free to call us during regular working
                    hours at (757)487-3474.<br />
                    <br />
                    Large scale community groups can open our
                    standard <%= link_to "Business Deposit Accounts", :anchor => "financial" %> which have higher minimums,
                    but also pay dividends on your money.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h3>Business Services Rates</h3>
                <p>The below rates are effective as of February 5, 2010</p>
                <table class="rates">
                    <tr>
                        <th colspan="4">Dividend &amp; Savings Rates</th>
                    </tr>
                    <tr>
                        <td><strong>Account Type</strong></td>
                        <td><strong>Balance</strong></td>
                        <td><strong>Rate</strong></td>
                        <td><strong>APY*</strong></td>
                    </tr>
                    <tr>
                        <td>Capital Savings</td>
                        <td>$2500 &amp; up</td>
                        <td>0.35%</td>
                        <td>0.35%</td>
                    </tr>
                    <tr>
                        <td>Capital Money Market</td>
                        <td>$1,000 to 9,999<br />
                            $10,000 to 24,999<br />
                            $25,000 to 49,999<br />
                            $50,000 &amp; up</td>
                        <td>0.50%<br />
0.75%<br />
1.00%<br />
1.24%</td>
                        <td>0.50%<br />
0.75%<br />
1.00%<br />
1.24%</td>
                    </tr>
                    <tr>
                        <td>Capital Checking</td>
                        <td>$500      &amp; up</td>
                        <td>n/a</td>
                        <td>n/a</td>
                    </tr>
                    <tr>
                        <td>Capital Investment Checking</td>
                        <td>$1000 &amp; up</td>
                        <td>n/a</td>
                        <td>n/a</td>
                    </tr>
                    <tr>
                        <td>Community Savings**</td>
                        <td>$100 &amp; up</td>
                        <td>0.35%</td>
                        <td>0.35%</td>
                    </tr>
                    <tr>
                        <td>Community Checking**</td>
                        <td>No Minimum</td>
                        <td>n/a</td>
                        <td>n/a</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </table>
                <p class="smallprint">
                    * APY is Annual Percentage Yield<br />
                    **&nbsp; Available only for non-profit
                    groups, clubs, and associations.</p>
                <table class="rates">
                    <tr>
                        <th colspan="2">Loan &amp; Visa Rates</th>
                    </tr>
                    <tr>
                        <td><strong>Lines of Credit</strong></td>
                        <td><strong>APR</strong></td>
                    </tr>
                    <tr>
                        <td>Visa Credit Card</td>
                        <td>10.49% (Fixed)</td>
                    </tr>
                    <tr>
                        <td>Loans</td>
                        <td>Prime +</td>
                    </tr>
                </table>
                <p class="smallprint">Rates are subject to change with the market.</p>
                <p>Signing up for a Northern Star Account can
                    be done at any one of our branch locations.&nbsp; If
                    you have any further questions concerning
                    this service, or any of our other services,
                    feel free to call us during regular working
                    hours at (757)487-3474.</p>
                <p>&nbsp;</p>
                <hr />
                <p>&nbsp;</p>
                <a name="resources"></a><h2>Business Resources</h2>
                <p>Northern Star Credit Union has partnered with Newtek to offer your small business the services it need to compete in the marketplace.&nbsp; The following is
a list of services Newtek provides on behalf of Northern Star; click on the service to find out more.</p>
                <ul class="bull">
                    <li><%= link_to "Loan Request", "https://www.newtekreferrals.com/alliances/cu/loans.htm?company_id=7740", :rel=>"external" %></li>
                    <li><%= link_to "Merchant Processing", "https://www.newtekreferrals.com/alliances/cu/epay.htm?company_id=7740", :rel=>"external" %></li>
                    <li><%= link_to "Personal, Commercial, and Health Insurance", "https://www.newtekreferrals.com/alliances/cu/insur.htm?company_id=7740", :rel=>"external" %></li>
                    <li><%= link_to "Web Hosting", "https://www.newtekreferrals.com/alliances/cu/web.htm?company_id=7740", :rel=>"external" %></li>
                    <li><%= link_to "Data Backup", "https://www.newtekreferrals.com/alliances/cu/storage.htm?company_id=7740", :rel=>"external" %></li>
                    <li><%= link_to "Web Design", "https://www.newtekreferrals.com/alliances/cu/design.htm?company_id=7740", :rel=>"external" %></li>
                    <li><%= link_to "Payroll Services", "https://www.newtekreferrals.com/alliances/cu/payroll.htm?company_id=7740", :rel=>"external" %></li>
                </ul>
                <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p></div>