<div id="innercontent" class="clearfix">
                    <a name="top"></a>
                    <%= image_tag "happymembers.jpg", :class=>"fright", :alt=>"Smiling Couple" %>
                    <h1>Membership</h1>
                    	<ul class="anchor">
							<li><%= link_to "Why Northern Star?", :anchor => "why" %></li>
							<li><%= link_to "Field of Membership", :anchor => "field" %></li>
                            <li><%= link_to "How to Join", :anchor => "join" %></li>
                            <li><%= link_to "Relationship Packages", :anchor => "relationship" %></li>
						</ul>
                    <a name="why"></a><h2>Why Northern Star?</h2>
                    <h3>Northern Star Credit Union is a community-based, non-profit,
                        financial cooperative.</h3>
                    <h3><em>Translation:</em></h3>
                    <ul class="bull">
                        <li>Northern Star exists to support the communities
                            Hampton Roads.&nbsp; Membership is open to all individuals
                            who live, work, worship, attend school or volunteer
                            in the cities of Suffolk, Chesapeake,
                            Portsmouth, Norfolk, Virginia Beach, Hampton,
                            and Newport News.</li>
                        <li>Northern Star is a non-profit organization, meaning
                            it's primary goal is not to pad the pockets of some
                            big time investor.&nbsp; The income that Northern
                            Star receives is returned to its members in the form
                            of faster, more efficient, and better services in
                            the form of higher interest and less fees than traditional
                            financial institutions.</li>
                        <li>Northern Star's existence as a financial cooperative
                            means the sharing of common wealth for the purpose
                            of a better community.&nbsp; When you deposit money
                            in Northern Star, it remains entirely yours, but
                            is used to help other people in your community by
                            providing loans and other services to them.&nbsp; Revenue
                            generated off this money is returned to you and your
                            fellow credit union members.</li>
                    </ul>
                    <p>Northern Star provides the same quality services that
                        banks and other financial institutions supply, but at
                        a fraction of the price.&nbsp; The checking accounts,
                        loans, certificates, and online products Northern Star
                        offers its members continue to be a more financially
                        feasible deal than our competitors.</p>
                    <p>Northern Star provides for their members an access to
                        their funds on their terms.&nbsp; Whether you prefer
                        going to the credit union itself, our ATMs, our nationwide
                        shared branch facilities, over the phone, or online with <em>e</em>-Branch,
                        is all up to you.</p>
                    <p>Originally founded in 1928 as the official credit union
                        of the Norfolk Naval Shipyard, Northern Star has grown
                        into a competitive, full-service financial institution,
                        servicing a field of membership with over 1.4 million
                        individuals.&nbsp; Northern
                        Star is banking that won't break wallet.</p>
                    <p class="top"></p>
                    <hr />
					<a name="field"></a><h2>Field of Membership</h2>
					<p class="centertext">Northern Star Credit Union is a community-based credit union,<br />
					open to all individuals in the Greater Hampton Roads Area.</p>
					<p class="centertext">If you live, work, worship, attend school, or volunteer in one of the above cities, <br /> you are eligible to become a member of Northern Star.<br />
					    <br />
					    <%= image_tag "membershipmap.jpg", :alt=>"membership map" %></p>
					<p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
					<a name="join"></a><h2>How to Join</h2>
                    <p>If you qualify for membership, you canapply online or
                        stop by one of our branches during regular operating
                        hours and apply in person.</p>
                    <h3>Applying Online<%= image_tag "membership.jpg", :class=>"fright", :alt=>"Member Options" %></h3>
                    <p>Northern Star Credit Union appreciates your hard work at both
                      your career and with your family.&nbsp; We realize it may not
                      be easy to find time in a busy schedule to stop by our office,
                      so we created an online application to suit your needs.&nbsp; With
                      it you can apply for membership, open select accounts, and
                      even fund the accounts directly from other your accounts at
                      other financial institutions.<br />
                      <%= link_to "Click here for our online membership application", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %>.&nbsp;</p>
                    <h3>Applying in Person</h3>
                    <p>This is the traditional method for applying
                        for membership to Northern Star.&nbsp; Stop by one of
                        our <%= link_to "branches", about_path(:anchor =>"hours") %> and
                        sign up today.&nbsp; Signing up for membership
                        is very easy and takes about fifteen minutes.&nbsp; Just
                        like our online application, when signing the membership
                        agreement, you must present two valid forms of identification.&nbsp; We'll
                        be more than happy to help you improve your credit score
                        with <%= link_to "Score Enhancement", prodserv_path(:anchor => "score") %> when you stop by.</p>
                    <h3>Acceptable forms of Identification</h3>
                    <p> Federal regulations require us to verify
                        your identity with two forms of identification when you
                        sign up for membership, an account, or a service with
                        the credit union.&nbsp; One must be a
                        official picture ID and the other must contain your social
                        security number.&nbsp; Below is a list of acceptable
                        forms of identification at Northern Star.&nbsp; If you
                        have any questions about the verification of your identity,
                        please call us at 757-487-3474.</p>
                    <strong>Picture Identification:</strong>
                    <ul class="bull">
                        <li>Driver's License</li>
                        <li> State-issued ID</li>
                        <li>U.S. Passport</li>
                    </ul>
                    <strong>Social Security
                        Identification:</strong>
                    <ul class="bull">
                        <li>Social Security Card</li>
                        <li>Insurance Card</li>
                    </ul>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="relationship"></a><h2>Relationship Packages</h2>
                    <p>Northern Star Credit Union offers  relationship packages that reward members who utilize a wide array of  services.&nbsp; Unlike other financial institutions' relationship packages,  Northern Star's is based upon the <em>average</em> daily balance, not the <em>minimum</em> daily balance.&nbsp; Therefore, if at any point during the month your account  falls below the stated amount, you will not drop to a lower tier unless your  average balance for the month is also below this amount.&nbsp; The following is  a list of the relationship packages Northern Star has set up for its members.</p>
<p> <em><strong>The following Relationship Packages went
                                into effect August 1, 2010.</strong></em></p>
                    <table class="hours">
                        <tr>
                            <th colspan="2">DIAMOND</th>
                        </tr>
                        <tr>
                            <td class="blu">Benefits</td>
                            <td class="blu">Requirements</td>
                        </tr>
                        <tr>
                            <td>No Monthly Maintenance Charge</td>
                            <td>Direct Deposit</td>
                        </tr>
                        <tr>
                            <td>Discount on New Loan (.25%)</td>
                            <td>E-Statement</td>
                        </tr>
                        <tr>
                            <td>Two Free Check Orders Per Year<br />
                            <br /></td>
                            <td>Average Balance in Core Accounts* $1,500.00</td>
                        </tr>
                    </table>
                    <table class="hours">
                        <tr>
                            <th colspan="2">GOLD</th>
                        </tr>
                        <tr>
                            <td class="blu">Benefits</td>
                            <td class="blu">Requirements</td>
                        </tr>
                        <tr>
                            <td>No Monthly Maintenance Charge</td>
                            <td>Direct Deposit</td>
                        </tr>
                        <tr>
                            <td>Discount on New Loans (.15%)</td>
                            <td>E-Statement</td>
                        </tr>
                        <tr>
                            <td>One Free Check Order per Year<br />
                            <br /></td>
                            <td>Average Balance in Core Accounts* $1,000.00</td>
                        </tr>
                    </table>
                    <table class="hours">
                        <tr>
                            <th colspan="2">CLASSIC</th>
                        </tr>
                        <tr>
                            <td class="blu">Benefits</td>
                            <td class="blu">Requirements</td>
                        </tr>
                        <tr>
                            <td>No Monthly Maintenance Charge</td>
                            <td>Average  Balance of Core Deposits $500</td>
                        </tr>
                    </table>
                    <table class="hours">
                        <tr>
                            <th>BASIC</th>
                        </tr>
                        <tr>
                            <td>$12 Monthly Maintenance Charge if Average Balance in Core Accounts* is Less Than $500.00</td>
                        </tr>
                    </table>
                    <table class="hours">
                        <tr>
                            <th colspan="2">SENIOR &amp; MINOR</th>
                        </tr>
                        <tr>
                            <td class="blu">Benefits</td>
                            <td class="blu">Requirements</td>
                        </tr>
                        <tr>
                            <td>No Monthly Maintenance Charge</td>
                            <td>70 Years of Age or Older to Qualify as a Senior</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>17 Years of Age or Younger to Qualify as a Minor</em></td>
                        </tr>
                    </table>
                    <table class="hours">
                        <tr>
                            <th>New Accounts</th>
                        </tr>
                        <tr>
                            <td><p align="center">Any primary  account opened 30 days or less is exempt from the Monthly Maintenance Charge.</p></td>
                        </tr>
                    </table>
<p>*&nbsp;&nbsp;Core Accounts are Regular Shares (Savings), Checking, and/or  Money Market (Super Club).&nbsp; Average  balance may be maintained in any one of these accounts or in a combination of  these accounts.                    </p>
<p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    
      <!--              
                    <hr />
                    <a name="disclosure"></a><h2>Account Disclosures</h2>
                    <p>This agreement covers both the members&rsquo; and
                        the Credit Union&rsquo;s rights and responsibilities
                        concerning the accounts and services available
                        at the Credit Union. The terms &ldquo;you&rdquo; and &ldquo;your&rdquo; refer
                        to anyone who signs an Application for Membership
                        or other services. The terms &ldquo;we&rdquo; &rdquo;us&rdquo; 
                        and &ldquo;our&rdquo; refer to the Credit Union.</p>
                    <p>The type of account(s) and the ownership of such
                        account(s) is indicated on your Application for
                        Membership. When you sign the Application for
                        Membership you agree to the terms in this Account
                        Disclosures and Agreement, and Fees and the Rate
                        Schedule. You also authorize the credit Union
                        to obtain a credit report from a credit reporting
                        agency in order to determine your eligibility
                        for any product of service you request from the
                        Credit Union.</p>
                    <p>In order to establish and maintain an account
                        at the Credit Union you must be within the field
                        of membership as defined by the Credit Union
                        charter, purchase one membership share, and meet
                        any other membership requirements defined in
                        the Credit Union Bylaws and Board Policy and
                        any amendments which may be made to them from
                        time to time.&nbsp;</p>
                    <h3>Individual Account</h3>
                    <p>An individual account is an account owned by the depositor including any individual, partnership, or other organization qualified for Credit Union membership. On an individual account, the interest of a deceased owner will pass to the decedent&rsquo;s estate or POD beneficiary, if applicable.&nbsp;</p>
                    <h3>Multiple Party Account</h3>
                    <p>An account owned by two or more individuals is a multiple party or joint account. This account may be with or without survivorship as designated on the Application for Membership. If the account is &ldquo;Joint with Survivorship&rdquo;, upon the death of one of the joint owners that person&rsquo;s interest will become the property of the surviving joint owner(s). If the account is &ldquo;Joint without Survivorship&rdquo;, the interest of the deceased owner will pass to his estate.</p>
                    <h3>Rights of Joint Account Owners</h3>
                    <p>Any joint account owner is authorized to act for the other owner(s) and the Credit Union may accept orders and instructions regarding the account, requests for future services and any transaction from any joint owner. Any joint owner may withdraw all funds in the account, stop payment on items drawn on an account, transfer or pledge all or any part of the shares of any account without the consent of the other account owner(s). The Credit Union shall have no duty to notify any other joint account owner(s).</p>
                        <p>The Credit Union reserves the right to require written consent of all joint account owners for a change of ownership or termination of an account. If the Credit Union receives written notice of a dispute between joint account owners or receives inconsistent instructions from them, the Credit Union may suspend or terminate the account, require a court order to act, or require that all joint account owners agree in writing to any transaction concerning the agreement.</p>
                        <h3>Liability of Joint Account Owners</h3>
                        <p>If any item deposited in a joint account is returned unpaid or an account is overdrawn, each of the joint account owners is jointly and severally liable to the Credit Union for the amount of the returned item of overdraft, any resulting charges, regardless of who created the overdraft, deposited or cashed the item or benefited from the transaction. If any joint owner is indebted to the Credit Union such that the Credit Union has a lien against an account of that joint owner, The Credit Union may enforce its rights against any or all funds in the joint account, or the joint owner&rsquo;s other accounts, regardless of who contributed the funds to the account(s).</p>
                        <h3>POD (Payable on Death)</h3>
                        <p>An account with a POD beneficiary on the Application for Membership means that the account is payable to the owner or owners during their lifetimes, then upon the death of the last surviving joint owner, the funds in the account shall be paid to the designated POD beneficiary. If more than one POD beneficiary  is named, the funds will be owned jointly by them. If an account is a multiple party account, each of the owners will be subject to the rules of joint ownership shown above. A POD designation does not apply to individual Retirement Accounts (IRAs) since they have a separate beneficiary designation.</p>
                        <h3>Account for Minors</h3>
                        <p>The Credit Union will establish an account for a minor child; however, we reserve the right to require a joint owner who is at least 18 years of age and who shall be primarily liable to the Credit Union fro any returned item, overdraft, or unpaid charges on the account. The Credit Union shall honor all withdrawals and deposits of the minor without regard to his minority as long as adequate identification is provided. If the parent is not a joint owner, no information will be released to them.</p>
                        <h3>Uniform transfer to Minors Account</h3>
                        <p>The Credit Union will establish an individual account for a member as custodian who wishes to deposit funds as an irrevocable gift to a minor. There may be only one custodian for each UTMA account. The custodian has control of the account for the benefit of the minor and is the only party entitled to make withdrawals or close the account. The Credit Union has no duty to inquire into the purpose of any withdrawal or use of the funds by the custodian.
                            The appointment of a successor custodian in the event of the custodian&rsquo;s death shall be made in accordance with applicable state law. The age at which a minor reaches majority may also vary from state to state.</p>
                        <h3>Power of Attorney</h3>
                        <p>The Credit Union reserves the right to review and approve any Power of Attorney. 
                            A copy of the power of attorney will be retained and the expiration date noted on the account. Unless the Credit Union receives a revocation in writing prior to the expiration date and fails to act on it, we will not be liable for any transactions performed up to that date.</p>
                        <h3>Deposit of Funds Requirement</h3>
                        <p>Funds may be deposited into any account you own, by means of teller transactions within the Credit Union, at our ATM network, at the Credit Union Service Centers, either inside the facility of through ATM.</p>
                        <h3>Mail transactions</h3>
                        <p>The Credit Union will accept deposits, withdrawals, and loan payments via mail. Such transactions will be posted to your account as of the day the transaction is received at the Credit Union. Deposits may be subject to our funds availability policy. You should include crediting instructions when mailing deposits and loan payments.</p>
                        <h3>Collections of Items</h3>
                        <p>We act only as your agent and we are not responsible for handling items for deposit or collection beyond the exercise of ordinary care. Deposits made by mail or at ATM facilities owned or not owned by the Credit Union will not be considered responsibility of the Credit Union until we received the item. We may send any item for collection. Items drawn on an institution located outside the United States are handled on a collection basis only.
                            You waive any notice of nonpayment, dishonor, or protect regarding items we purchase or receive for credit or collection to your account.</p>
                        <h3>Final Payment</h3>
                        <p>All items of Automated Clearing House (ACH) transfers credited to your account are provisional until we receive final payment. If final payment is not received, we may charge your account for the amount of such items or ACH transfers and impose a return item charge on your account. Any collection fees we incur will be charged to your account. We reserve the right to refuse or return any item or funds transfer.</p>
                        <h3>Deposits</h3>
                        <p>We may offer preauthorized deposits (e.g., payroll checks, Social Security, or retirement checks, or other government checks) or preauthorized transfers from other accounts. You must authorize each direct deposit or preauthorized transfers from other accounts. You must authorize each direct deposit or preauthorized transfer by filing out a separate form. You must notify us at least thirty (30) days in advance to cancel or change a direct deposit or transfer option. Upon a bankruptcy filing, unless you cancel an authorization, we will continue making direct deposits in accordance with your authorization on file with us. If we are required to reimburse the U. S. Government for any benefit payment directly deposited into your account, we may deduct the amount returned from any of your accounts, unless prohibited by law.</p>
                        <h3>Crediting of Deposits</h3>
                        <p>Deposits made on either holidays or days that are not our business days will be credited to your account on the next business day.</p>
                    	<hr />
                        <h3>Access Options</h3>
                        <p>You may access your Credit Union account(s) by visiting a branch office or by utilizing an automated service including but not limited of ATM (automated teller machine), check card, check, audio response (TelSTAR), home banking (WebSTAR), ACH and wire transfer. There may be a limit of certain restrictions on some transactions as explained in other sections of this agreement.</p>
                        <p>No more than six transfers and withdrawals or a combination of the two may be made from a savings account to another account at the Credit Union or to a third party by means of preauthorized transfer or by telephone each month.</p>
                        <p>The following transfers from a savings account count toward the limit of six per month:</p>
						<ol>                        
                            <li>telephone requests taken by an employee to transfer
                                funds from another account</li>
                            <li>instructions received through our audio response
                                system to transfer funds to another account</li>
                            <li>transfers cover overdrafts ( if more than one
                                check overdrafts on that particular day, normally only one transfer is made);</li>
                            <li>transfers to cover ACH debits which overdraft
                                the checking account;</li>
                            <li>instructions received through home banking transfer
                                funds to another account;</li>
                            <li>preauthorized or automatic transfers to a third
                                party ( including ACH debits)</li>
                            <li>transactions or purchases performed by electronic
                                check or E-check</li>
                        </ol>
                        <p> transfers which do not count are:</p>
                        <ol>
                            <li>requests which are received by mail or messenger;</li>
                            <li>requests which are made in person at a branch
                                office;</li>
                            <li>transfers which are made for the purpose of repaying
                                a loan at this Credit Union.</li>
                        </ol>
                        <h3>Funds transfer Agreement and Notice</h3>
                    	<hr />
                        <p>Article 4A of the Uniform Commercial Code and the Federal Reserve&rsquo;s Regulation J cover the movement of funds by means of wire transfers, automated clearinghouse(ACH) credit and some inter-account transfers on the Credit Union&rsquo;s records.&nbsp; Using the Credit Union to send or receive funds transfers will constitute you acceptance of these terms of agreement.</p>
                        <p>The Credit Union may charge your account for the amount of any funds transfer initiated by you or by any person authorized by you as a joint owner or other authorized party with the right of access to the account from which the funds transfer is to be made.</p>
                        <p>The Credit Union may establish, from time to time, security procedures to verify the authenticity of a payment order.&nbsp; You will be notified of the security procedures, if any to e used to verify payment orders issued by you or for which your account will be liable.&nbsp; You agree that the authenticity of payment orders may be verified using that security procedure that security procedure.&nbsp; In that event, the Credit Union shall have no obligation to accept any payment order form you or other authorized parties on the account until you and the Credit Union agree, in writing, on an alternate security procedure.</p>
                        <p>If you send or receive a wire transfer, Fedwire may be used.&nbsp; These transactions are governed by Regulation J.&nbsp; You will receive notice of such transfers on your periodic account statement.&nbsp; If you give the Credit Union a payment order which identifies the beneficiary (person who will receive the funds) by both name and identifying or account number, payment may be made to the beneficiary&rsquo;s bank on the basis of the identifying or account number, even if the number identifies a person different than the named beneficiary.&nbsp; If you give the Credit Union a payment order which identifies any bank in the funds transfer by name and by a routing/transit or other identifying number, the Credit Union can rely on the number even if it identifies a bank different form the named bank.</p>
                        <p>Unless otherwise provided by the Credit Union in a separate schedule concerning specific types of funds transfers, the cut-off time for receipt and processing of payment orders shall be 4 p.m. EST (EDT) on each funds transfer business day (Monday-Friday). Payment orders received after the cut off time may not be transmitted until the following business day.</p>
                        <p>ACH transactions are governed by the operating rules of the National Automated Clearing House Association.&nbsp; In accordance with these rules the Credit Union will not provide you with next day notice of receipt of ACH credit transfers to your account.&nbsp; We will provide information about these transactions on your periodic statement or you may contact the Credit Union to verify receipt of ACH debits or credits.</p>
                        <p>The Credit Union may give you credit for ACH payments before it receives final settlement of the funds transfer.&nbsp; Any such credit is provisional until the Credit Union receives final settlement on the payment.&nbsp; You are hereby notified and agree, if the Credit Union does not receive such final settlement, that it is entitled to a refund from you of the amount credited to you in connection with that ACH entry.&nbsp; This means that the Credit Union may provide you with access to ACH funds before the Credit Union actually receives the money. However, if the Credit Union does not receive the money, then the Credit Union may reverse the entry on your account and you would be liable to repay the Credit Union.</p>
                        <h3>Account Rates and Fees</h3>
                    	<hr />
                        <h3>Savings and Checking Accounts</h3>
                        <p><strong> Rate information.</strong>&nbsp; The Rate Schedule, which accompanies this disclosure, reflects the prospective dividend rate and annual percentage yield on your account at the time of opening.&nbsp; The dividend rate and annual percentage yield may change monthly as determined by the Credit Union&rsquo;s Board of Directors.</p>
                        <p><strong>Nature of Dividends.</strong>&nbsp; Dividends are paid form current income and available earnings after required transfers to reserves at the end of the dividend period.</p>
                        <p><strong>Compounding and Crediting.</strong>&nbsp; Dividends will be compounded quarterly and credited to your account quarterly.&nbsp; The dividend period is quarterly for all savings accounts.</p>
                        <p><strong>Quarterly Dividend Period</strong>.&nbsp; If the beginning date of the first dividend period of the calendar year is January 1, the ending date of such period is March 31.</p>
                        <p><strong>Monthly Dividend Period.</strong>&nbsp; If the beginning date of the first dividend period of the calendar year is January 1, the ending date of such period is January 31.&nbsp; The dividend posting date follows the ending date of a dividend period.&nbsp; For the quarterly dividend period ending on March 31, the declaration date would be April 1.&nbsp; For the first monthly dividend period of a calendar year, the declaration date would be February 1.&nbsp; If you close an account before dividends are credited you will receive accrued dividends.</p>
                        <p><strong>Minimum Balances.</strong>&nbsp; The minimum balance required to open savings/checking accounts are reflected on the Rate Schedule accompanying this disclosure.&nbsp; The minimum average daily balances required to obtain the annual percentage yield (APY) disclosed are also reflected on the Rate Schedule.&nbsp; Any minimum balances necessary to avoid service fees are shown on the Rate and Fee Schedule.</p>
                        <p><strong>Fees.</strong>&nbsp; Fees, which may be assessed
                            on your account, are reflected on the Rate and Fee Schedule, which accompanies this disclosure and is available in any branch office.</p>
                        <p><strong>Balance Computation Method.</strong>&nbsp; We use the average daily balance method to calculate dividends and for obtaining the APY on your account.&nbsp;This method applies a periodic rate to the average daily balance in your account for the dividend period.&nbsp; The average daily balance is calculated by adding the balance in the account each day in the dividend period and dividing that figure by the number of days in the dividend period.</p>
                        <p><strong>Accrual of Dividends.</strong>&nbsp; Dividends begin to accrue on the business day you deposit items to your account unless otherwise disclosed to you at the time of deposit.</p>
                        <p><strong>transaction Limitations.</strong>&nbsp; The Credit Union is only required to permit a withdrawal if you have sufficient funds available in your account or you have an established overdraft protection plan.&nbsp; The minimum amount you may withdraw from a savings/checking account is $20.00.&nbsp; There are no transaction limitations on checking accounts as long as there are sufficient funds or you have an established overdraft protection plan.&nbsp; Certain transaction limitations may apply to an IRA (Individual Retirement Account)&mdash;please refer to your IRA Plan Disclosure.</p>
                        <p>&nbsp;</p>
                        <h2>Share Certificate Accounts</h2>
                        <p><strong>Rate Information.</strong>&nbsp;&nbsp; The Rate and Fee Schedule, which accompanies this disclosure, reflects the dividend rate and annual percentage yield on your share certificate account that will be paid until maturity.&nbsp; The annual percentage yield assumes dividends will remain on deposit until maturity.&nbsp; A withdrawal of dividends will reduce earnings.</p>
                        <p><strong>Compounding and Crediting.</strong>&nbsp;You must select a dividend distribution option at the time the certificate is purchased.&nbsp; You may elect dividends to be compounded and credited quarterly.&nbsp; Or instead of compounding, the dividends can be mailed to you quarterly in the form of a check or transferred to a specific account quarterly.</p>
                        <p><strong>Minimum Balances.</strong>&nbsp; The minimum balance required to purchase a certificate is shown on the Rate and Fee Schedule.&nbsp; The minimum balance to obtain the annual percentage yield (APY) disclosed is also reflected on the Rate Schedule accompanying this disclosure.&nbsp;</p>
                        <p><strong>Balance Computation Method.</strong>&nbsp; We use the daily balance method to calculate dividends and for obtaining the APY on your share certificate account.&nbsp; This method applies a daily periodic rate to the full amount of principle in the account each day.</p>
                        <p><strong>transaction Limitations.</strong>&nbsp; You may not make any deposits into your account until the maturity date.</p>
                   	<p><strong>Maturity Date.</strong>&nbsp; Your certificate will mature on the date stated on the certificate.</p>
                        <p><strong>Early Withdrawal Penalties.</strong>&nbsp; If any of the deposit is withdrawn before the maturity date, a penalty will be imposed.</p>
                        <table class="hours">
                            <tr>
                                <th>Term</th>
                                <th>Early withdrawal penalty&nbsp;&nbsp;</th>
                            </tr>
                            <tr>
                                <td>6-month&nbsp;&nbsp;&nbsp;</td>
                                <td>90 days dividends</td>
                            </tr>
                            <tr>
                                <td>12-month&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>90 days dividends</td>
                            </tr>
                            <tr>
                                <td>24-month&nbsp;</td>
                                <td>90 days dividends</td>
                            </tr>
                            <tr>
                                <td>36-month&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>90 days dividends</td>
                            </tr>
                            <tr>
                                <td>60-month&nbsp;</td>
                                <td>90 days dividends</td>
                            </tr>
                        </table>
                   	<p><strong>Automatically Renewable Share Certificate Accounts.</strong>&nbsp; Share Certificate accounts will renew automatically at the dividend rate prevailing at maturity unless otherwise disclosed on the certificate.&nbsp; You will have ten calendar days after the maturity date to withdraw funds without penalty.</p>
                        <p>&nbsp;</p>
                        <h2>Checking Account</h2>
                        <p>The Credit Union requires each member to maintain a balance sufficient to cover all checks written and all debits initiated against an account.&nbsp; Repeated overdrafts may result in your account being closed.&nbsp; In addition, you agree to the terms herein, which the Credit Union may supplement and amend from time to time and to applicable state and federal laws, rules and regulations. All sums now or hereafter paid into your account and all accumulations thereon may be withdrawn by checks signed by any of the account owners, whether living or dead.</p>
                        <p>Only check forms and other methods approved by the Credit Union may be used to withdraw funds from your account.&nbsp; The Credit Union is under no obligation to pay a check, which exceeds the balance in your account, and it shall not be liable for failure to pay a check unless such failure is solely due to its negligence.</p>
                        <p>Any objection respecting any item shown on a monthly statement of your account shall be waived unless made in writing to the Credit Union on or before the 30th day following the date the statement was mailed.&nbsp; The right of the Credit Union to permit the withdrawal of funds from this account may be terminated only by its receipt of written notice from any of the account owners that withdrawals should not be permitted; but such notice shall not affect withdrawals previously made.</p>
                        <p>You understand and assume all risks associated with the disclosure to third parties of confidential information regarding your account by you or your joint account owners.&nbsp; You hereby authorize the Credit Union to accept and honor any preauthorized debits in the names of any or all of the account owners.&nbsp; You further release and hold harmless the Credit Union from any and all claims, losses or damages arising from the acceptance by the Credit Union of preauthorized debits drawn on this account.</p>
                        <p><strong> Overdrafts.&nbsp;</strong> If a check is written or an electronic check is presented for amount in excess of the balance in your checking account and there is no established overdraft protection plan, the check will be returned and you will be charged as indicated on the Rate and Fee Schedule. 
                            You may request to have funds transferred from your savings account if your checking account does not have sufficient funds; however, only funds in excess of the $25 required to maintain your prime share account will be available for transfer.&nbsp; (There is a limitation on the number of times per month that such a transfer may be made.&nbsp; See Account Access for details.)</p>
                        <p>If you or any of your joint owners has an overdraft line of credit agreement with the Credit Union, a check written for funds in excess of the balance in your checking account will constitute a request for an advance from the line of credit.&nbsp; Such advances will be made in increments of $50.00.&nbsp; If less than $50.00 is available on the line of credit, the amount available will be transferred.&nbsp; The Credit Union may make the advance and add the amount to the overdraft line of credit balance.</p>
                        <p><strong>Postdated/Stale dated Checks.&nbsp;</strong> If you date a check later than the date that you write it and the check is presented for payment before its date, the Credit Union may return it unpaid.</p>
                        <p>The Credit Union may, but is under no obligation to pay a check drawn on your account, which is presented more than six months after its date.</p>
                        <p><strong>Stop Payment Orders.</strong>&nbsp; You may ask the Credit Union to stop payment on any check drawn on your checking account.&nbsp; You may request a stop payment in person or via facsimile with signature.&nbsp; The stop payment will be effective if we receive the notice in time to act upon it and you provide the number of the account, date and number of the check, its exact amount, and to whom it was issued.&nbsp; If you give the Credit Union incorrect or incomplete information, we will not be responsible for failing to stop payment on the check.&nbsp; If the stop payment is not received in time for the Credit Union to act upon the order, we will not be liable to you or to any other party for payment of the check.&nbsp;If we recredit&nbsp; your account after paying a check over a valid and timely stop payment order, you agree to sign a statement describing the dispute with the payee, to transfer to the Credit Union all of your rights against the payee or other holders of the check, and to assist the Credit Union in legal action taken against the person.</p>
                        <p>Written stop payment orders are effective for six months.&nbsp; In order for any written stop payment order to remain in effect after the initial six months, you must renew the order in writing.&nbsp; The Credit Union is not obligated to notify you when a stop payment order expires.</p>
                        <p>The Credit Union will charge you a fee for each stop payment order requested.&nbsp; This charge is shown on the Disclosure of Fees and Charges accompanying this disclosure and available at all branch offices.&nbsp; You may not stop payment on any cashier&rsquo;s check, or any other check or payment guaranteed by you or the Credit Union.&nbsp; You should know that while payment of a check may be stopped, you may remain liable to any person, including the Credit Union, who is a holder of the check despite the stop payment order.&nbsp; You agree to indemnify and hold the Credit Union harmless from all costs, including attorney&rsquo;s fees, damages or claims related to the Credit Union&rsquo;s action in refusing payment of a check, including claims of any multiple party account owner, payee, or endorsee in failing to stop payment of a check as a result of incorrect information provided by you.</p>
                        <br />
                        <br />
                        <h2>Pre-Authorized Debits (ACH)</h2>
                    <p>The Credit Union will accept preauthorized debits received in your name through the ACH (Automated Clearing House) system.&nbsp; You must author</p>
                        <p><strong>Overdrafts.</strong>If a debit is received
                            for funds in excess of the balance in your account and there is no established overdraft protection plan, the debit will be returned to you and will be charged as indicated on the Disclosure of Fees and Charges.&nbsp; Funds can be transferred from your share account (see Account Access for transaction limitations) or from an approved line of credit.</p>
                        <p>If you or any of your joint owners has an overdraft line of credit agreement with the Credit Union, a debit for funds in excess of the balance in your checking account will constitute a request for an advance from the line of credit.&nbsp; Such advances will be made in increments of $50.00.&nbsp; If less than $50.00 is available on the line of credit, the amount available will be transferred.&nbsp; The Credit Union may take the advance and add the amount to the overdraft line of credit balance.&nbsp; Funds to cover overdrafts may be transferred from accounts in the order you request.</p>
                        <p><strong>Stop Payment Orders.</strong>&nbsp; You may ask the Credit Union to stop payment on any preauthorized debit.&nbsp; You may request a stop payment in person or by facsimile with your signature so that we will receive your stop payment order at least three business days in advance of the scheduled debit.&nbsp; If you call we may also require you to put the order in writing and get it to us within 14 days.</p>
                        <p>A written stop payment is effective for six months.&nbsp; You must renew a stop payment in writing every six months for it to remain in effect.&nbsp; If you order us to stop one of these payments and we do not do so, we will be liable for your losses or damages not to exceed the amount of the transaction, except as otherwise provided by law.</p>
                        <p><strong>Unauthorized Debits.</strong>&nbsp; An unauthorized debit means a debit, which has been initiated by a company against your account without your written authorization.&nbsp; It may also be a debit, which is in an amount different than what you authorized, or a debit that was sent earlier than you authorized.&nbsp; If you believe you have an unauthorized debit, you must notify the sending company that you have revoked your authorization.&nbsp; You must also file an Affidavit with the Credit Union before we can return the debit.&nbsp; In order to receive immediate credit you must report the unauthorized debit to the Credit Union within 15 days from the date the information describing the debit is made available to you.</p>
                        <br />
                        <br />
                        <h2>Name and Address Change</h2>
                        <p>It is your responsibility to notify the Credit Union of any change of name and/or address for your account.&nbsp; We have the right to request that this information be provided in writing.&nbsp; We may also accept the notification provided by the United States Postal Service&rsquo;s National Change of Address system as a reasonable basis for changing your address.&nbsp; If any periodic statement is returned to us by the postal service, we may not mail future statements.&nbsp; You may obtain copies by contacting the Credit Union and providing us with your current address.</p>
                        <p>&nbsp;</p>
                        <h2>Taxpayer Identification Numbers and Backup Withholding</h2>
                        <p>Upon opening an account, you must provide a name, a matching Taxpayer Identification Number (TIN) and a valid address.&nbsp; You must also certify that you are subject to, are not subject to, or are exempt from backup withholding under Section 3406(a)(1)(C) of the Internal Revenue Code.&nbsp; If your account is or becomes subject to backup withholding, the Credit Union is required by law to withhold and pay to the Internal Revenue Service a percentage of paid dividends and certain other payments under certain conditions.&nbsp; Your failure to furnish a correct TIN or meet other applicable requirements may result in backup withholding as well as civil or criminal penalties.</p>
                        <p>&nbsp;</p>
                        <h2>Credit Union Lien and Security Interest</h2>
                        <p>Northern Star Credit Union may use the funds from you shares and dividends to pay any debt or amount you owe to the Credit Union.&nbsp; Further as a borrower, guarantor, endorser, or otherwise, we have a statutory lien on the funds in any account which you have an ownership interest, regardless of the source, unless prohibited by law.&nbsp; We may apply these funds, without further notice to you in order to pay off the indebtedness.&nbsp; By not enforcing the lien, the Credit Union does not waive its right to enforce it later.&nbsp; In addition, you grant the Credit Union a consensual security interest in your accounts and we may use the funds from your accounts to pay any debt or any amount now or hereafter owed the Credit Union, except for obligations secured by your residence, unless prohibited by applicable law.&nbsp; All accounts are non-assignable and nontransferable to third parties.</p>
                        <p>&nbsp;</p>
                        <h2>Legal Process</h2>
                        <p>If any legal action is brought against your account, we may pay out funds according to the terms of the action or refuse any payout until the dispute is resolved.&nbsp; Expenses or attorneys fees we incur may be charged to your account without notice to you, unless prohibited by law.&nbsp; Any legal process against your account is subject to our lien and statutory interest.</p>
                        <p>&nbsp;</p>
                        <h2>Statements of Account</h2>
                        <p> The Credit Union will provide periodic statements depending upon the type of activity in your account.&nbsp; You will get a monthly statement if you have a checking account or if you have any electronic funds transfers during that month.&nbsp; If you have signed up for services that provide electronic access to your account (ATM, check card, home banking, audio response) but there has been no account activity for 6 months, your electronic privileges may be revoked and you will receive statements on an annual basis.&nbsp; In any event you will receive a statement at least annually if we have your current address on file.</p>
                        <p>It is your responsibility to review the statement within a &ldquo;reasonable amount of time&rdquo; and notify the Credit Union will immediately if you discover any unauthorized transactions or alternations.&nbsp; If you fail to do this, you may bear the entire loss yourself (depending on whether we exercised ordinary care and, if not, whether we substantially contributed to the loss).&nbsp; A &ldquo;reasonable amount of time&rdquo; will generally be within 30 days after the statement was mailed to you.</p>
                        <h2>Termination of Account</h2>
                        <p>The Credit Union may terminate your account at any time without notice and require you to repay, in full all outstanding obligations.&nbsp; It may also require you to close your account and apply for a new account.&nbsp; Circumstances for these actions may include, but are not limited to: (1) a fraud or forgery on your account; (2) lost or stolen checks; (3) an excessive number of returned or non-sufficient funds items; (4) other abuse of your account; or, (5) a change
in authorized signers.&nbsp; We reserve the right to require the consent of all owners in order to terminate the account.&nbsp; We are not responsible for payment of any draft, withdrawal, or other item after your account is terminated.</p>
                        <p>&nbsp;</p>
                        <h2>Inactive Accounts</h2>
                        <p>If you have not made any deposits, withdrawals or other transactions or communicated with us in writing regarding your account during a 12-month period, your account will be classified as &ldquo;inactive&rdquo;.&nbsp; Dividend postings will not be considered transactions for this purpose.&nbsp; We have the right to request additional identification and written authorization for transactions on inactive accounts.&nbsp; If your account remains inactive for an extended period of time, it will be considered abandoned.&nbsp; In accordance with state unclaimed property acts, funds in abandoned accounts must be remitted to the custody of the applicable state agency and we will have no further liability to you for such funds.</p>
                        <h2>Your Ability to Withdraw Funds</h2>
                        <p>Our normal policy is to make funds from deposits to your checking account at Northern Star branches available to you immediately.&nbsp; Hold may be placed on any type of deposit made at shared branch facilities or ATM&rsquo;s.&nbsp; Electronic direct deposits will be available on the day we receive the deposit.&nbsp; Once
they are available, you can withdraw funds in cash, and/or we will use the funds
to pay checks that you have written.</p>
                        <p>For determining the availability of your deposits, every day is a business day except Saturdays, Sundays and federal holidays.&nbsp; If you make a deposit before regular business hours on a business day that we are open, we will consider that day to be the day of your deposit.&nbsp; However, if you make
a deposit after regular business hours or on a day we are not open, we will
consider that the deposit was made on the next business day we are open.</p>
                        <p><strong>Longer Delays May Apply:</strong>&nbsp; In some cases, we may not make all the funds that you deposit by check available to you immediately.&nbsp; Depending on the type of deposit, funds may not be available between five and ten business day after the day of your deposit.&nbsp; However, the first $100 of your deposit will be made available to you within 24 hours.</p>
                        <p>If we are not going to make all the funds from your deposit available, we will notify you at the time you make the deposit.&nbsp; We will also tell
you when the funds will be available.&nbsp; If you deposit is not made directly
to one of our employees, or if we decide to take this action after you have
left the premises, we will mail you the notice by the business day after
we receive your deposit.</p>
                        <p>If you will need the funds from a deposit immediately, you should ask us when the funds will be available.</p>
                        <p>In addition, funds you deposit by check may be delayed for a longer period under the following circumstances:</p>
						<ol>
                            <li>We believe the check you deposit will not be paid.</li>
                            <li>You deposit checks totaling more than $5000 on
                                any one day.</li>
                            <li>You have overdrawn your account repeatedly in
                                the last six months.</li>
                            <li>There is an emergency, such as failure of communications
                                or computer equipment.</li>
                        </ol>
                        <p>We will notify you if we delay your ability to withdraw funds for any of these reasons and we will tell you when the funds will be available.&nbsp; They
will generally be available no later than the 11th business day after the day of your deposit.</p>
                        <p>If we cash a check for you that is drawn on another bank, we may withhold the availability of a corresponding amount of funds that are already in your
account.&nbsp; Those funds will be available at the time funds form the check
we cashed would have been available if you had deposited it.</p>
                        <p><strong>Special Rules for New Accounts:</strong>&nbsp; If you are a new member, the following special rules will apply during the first 90 days your account is open.</p>
                        <p>Funds from electronic direct deposits to your account will be available on the day we receive the deposit.&nbsp; Funds form deposits of cash, wire transfers, traveler&rsquo;s and federal, state and local government checks will be available on the first business day after the day of your deposit if the deposit meets
certain conditions.</p>
                        <p>Funds from all other check deposits, including ATM check deposits, will be available on the 11th business day after the day of your deposit.</p>
                        <h2>Night Depository</h2>
                        <p>Deposits made at the night depository are considered made on the business day that the deposit is removed from the depository.</p>
                        <h2>ATM Deposits</h2>
                        <p>Deposits are accepted only at ATMs (Automated Teller Machines) identified as being owned by this Credit Union or at certain machines, which display the Credit Union 24 logo.&nbsp; Funds from deposits are subject to verification
and may not be available immediately.&nbsp; All ATM deposits are subject to hold between 48 and 72 hours.</p>
                        <h3>Electronic Services Disclosure</h3>
                   	<hr />
                        <p>This disclosure is made to comply with the requirements of the Electronic Funds transfer Act, Federal Reserve Regulation E, and VISA Operating Rules.&nbsp; This law establishes the basic rights, liabilities and responsibilities of consumers who use electronic fund transfer services and of the financial institutions
providing such services.&nbsp; If you use automated teller machines on any
network in which the Credit Union participates, or if you use any preauthorized
debit or credit transfer service (such as direct deposit, insurance or mortgage
payments, etc.), or use a Northern Star Credit Union check card, the law
and this disclosure apply to you.&nbsp; Additionally, the information provided
covers the audio response (TelSTAR), home banking (WebSTAR) and future electronic
services offered by this Credit Union.&nbsp; Some specific services described
may not apply to your account.&nbsp; This disclosure preempts the terms of
any previous electronic services disclosure, which may have been provided to you.</p>
                        <p><strong>Your liability for unauthorized transactions:</strong>&nbsp; Tell us AT ONCE if you believe your Credit Union automated teller machine card, audio response or home banking PIN has been lost, stolen or used or may be used without your authority.&nbsp; Telephoning the Credit Union is the best
way of keeping your possible losses down, although you may tell us in person,
in writing or by electronic mail at the address in this disclosure.&nbsp; You
could lose all the money in your account (plus your maximum revolving line of credit).</p>
                        <p>You will have no liability for unauthorized use of your check card or account information when the transaction is processed through the VISA network unless the card was handled negligently.</p>
                        <p>If your ATM card or check card is lost or stolen or used without our authorization at an ATM or point of sales device with a PIN you must tell us within 2 business days after you learn of the loss, theft or unauthorized use of your card
or PIN and we can prove we could have stopped someone form using your card or PIN without your permission if you had told us, you could lose all funds in your account.&nbsp; These same rules apply to your audio response or home banking PIN.</p>
                        <p>Also, if your statement shows an electronic funds transfer that you did not make or authorize anyone to make, tell us at once.&nbsp; If you do not tell us within 60 days after the first statement which reflected the unauthorized
transfer was mailed to you, you may not get back any money you lost after
the 60 days if we can prove that we could have stopped someone from taking
the money if you had told us in time.</p>
                        <p>If a good reason (such as a long trip or a hospital stay) kept you from telling us, we will extend the time periods.</p>
                        <h3>Address and Telephone Number</h3>
                        <p>If you believe that your card or PIN has been lost or stolen or that someone has transferred or may transfer money from your account without your permission, call:&nbsp; (800) 449-7728 or send a facsimile with your signature to (757) 487-9464, or write: Northern Star Credit Union, 5100 George Washington Highway, Portsmouth, VA 23702, or email: <%= mail_to "nstarcu@nstarcu.org", "nstarcu@nstarcu.org" %></p>
                        <p><strong>Business Days</strong><br />
                            For purposes of these disclosures, our business days are Monday through Friday.&nbsp; Saturdays,
                            Sundays and federal holidays are not included.</p>
                        <p><strong>Account Access</strong><br />
                            You may use your Northern Star Check Card without a personal identification number (PIN) to pay for goods and services at places which display the
VISA logo.&nbsp; You may not use your card for any illegal transaction.&nbsp; You
may use your automated teller machine card of your Northern Star Check card with your personal identification number (PIN) to:</p>
<ul class="bull">
                            <li>withdraw cash from your savings and checking accounts.</li>
                            <li>make deposits to your savings and checking accounts.</li>
                            <li>transfer funds between your saving and checking accounts whenever
                                your request.</li>
                            <li>pay for purchases at places that have agreed to accept the card.</li>
                            <li>some of these services may not be available at all terminals.</li>
                        </ul>
                        <p>You may use your audio response system (TelSTAR) or home banking (WebSTAR)
                            with your PIN to:</p>
<ul class="bull">
                            <li>withdraw from your savings account by check mailed to your address
                                of record.</li>
                            <li>transfer funds from savings or checking to your loan accounts or
                                other share accounts.</li>
                            <li>obtain share and loan account balances and information.</li>
                            <li>obtain an advance on an approved line of credit.</li>
                        </ul>
                        <p>Additional information not involving electronic funds transfer is available through automated teller machines, our audio response system, and home banking.</p>
                        <p><strong>Limitations on transaction frequency and amount.</strong>&nbsp; There is normally a withdrawal limit of $200.00 per day unless a higher limit had been expressly approved for you. You may normally purchase up to $500.00
per day worth of goods or services at places that have agreed to accept our ATM card with a PIN.</p>
                        <p>There is no limitation on the number or dollar amount of preauthorized debits or credits processed per month providing there are sufficient funds in your account to cover any debit. There is no limitation to the number of audio
response (TelSTAR), home banking (WebSTAR) transactions you may make per month (subject to the limitations discussed under ACCOUNT ACCESS) provided there are sufficient funds to complete the transactions. For security purposes a maximum dollar amount for withdrawals may be imposed.</p>
                        <p><strong>Charges.</strong>&nbsp; There is no charge for a transaction performed at an automated teller machine owned by this Credit Union with
a card issued by us. The fees charged by us for using our ATM card at point of sale terminals or automated teller machines owned and operated by other
institutions are shown on the Rate and Fee Schedule accompanying this disclosure
and available in all branch offices. A fee may be imposed by the ATM operator if you use an ATM not owned or operated by Northern Star Credit Union.</p>
                        <p>There is no charge for purchases with your Northern Star Check Card if no PIN is entered. If you use your PIN, a charge may be imposed by the Credit Union and the merchant. There is no charge to use our audio response system (TelSTAR) or home banking ( WebSTAR).</p>
                        <p>There is no charge for recurring deposits. There is a charge for a preauthorized debit which cannot be processed due to insufficient funds in your account.
                            This charge is shown on the Disclosure of Fees accompanying this disclosure and available in all branch offices.</p>
                        <p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p><strong>Disclosures of Information to Third Parties</strong></p>
                        <p> We will disclose information to third parties about your account or the transfers you make:</p>
<ul class="bull">
                            <li>where it is necessary for completing transfers, or</li>
                            <li>in order to verify the existence and condition of you 
                            	account for a third party, such as a credit bureau or 
                                merchant, or</li>
                            <li>in order to comply with government agency
                                or court orders, or</li>
                            <li>if you give us written permission.</li>
                        </ul>
                        <p><strong>Documentation of transfers.</strong>&nbsp; You can get a receipt at the time you make a transaction using an automated teller machine or point of sale device with a PIN. You should get a receipt each time you use your
Northern Star Check Card without a PIN to purchase goods or services. It
is suggested that you retain these receipts for comparison to the information
provided on your statement of account.</p>
                        <p><strong>In Case of Error or Questions About Your Electronic transfers:</strong>
                        	Call us or write us at the number or address shown in this disclosure as soon as you can, if you think your statement or receipt is wrong or if you need more information about a transaction listed on the statement or receipt.
We must hear from you no later than 60 days after we sent the FIRST statement on which the problem or error appeared.</p>
                        <ol>
                        	<li>Tell us your name and account number.</li>
                            <li>Describe the error or the transfer you are
                                unsure about, and explain as clearly as you can why you believe it is an
                                error or why you need more information.</li>
                            <li>Tell us the dollar amount of the suspected error.</li>
                        </ol>
                        <p>If you tell orally, we may require that you send us your complaint or question in writing within 10 business days. In the case of a request for reimbursement for an unauthorized transaction, you agree to provide the Credit Union with
an affidavit on the Credit Union&rsquo;s form describing the nature of the loss.</p>
                        <p>We will determine whether an error occurred within 10 business days after we hear from you and will correct any error promptly. If we need more time, however, we may take up to 45 days (90 days for a foreign-initiated or point-of-sale debit card transaction) to investigate your complaint or question. If we
decide to do this, we will credit your account within 10 business days for the amount you think is in error, so that you will have the use of the money during the time it takes us to complete our investigation. If we ask you to put your complaint or question in writing and we do not receive it within 10 business days, we may not credit your account.</p>
                        <p>If you notify us of an unauthorized Check Card transaction processed through the VISA network where no PIN was entered, we will provisionally credit your account within five (5) business days of the notification. We may require written confirmation from you before providing provisional credit. We may withhold providing provisional credit, to the extent allowed under applicable law, if the circumstances or account history warrant the delay.</p>
                        <p>We will tell you the results within three (3) business days after completing our investigation. If we decide that there was no error, we will send you a written explanation, you may ask for copies of the documents that we used in our investigation.</p>
                        <p><strong>Special Rules for New Accounts:&nbsp;</strong>If the notice of error involves an electronic funds transfer to or from the account within 30 days after the first deposit to the account was made, we will credit your account within 20 business days for the amount you think is in error. We may take up to 90 days to complete our investigation.</p>
                        <p><strong>Electronic Mail Communications:&nbsp;</strong> Northern Star has the right to contact you via electronic mail (e-mail) on matters concerning your account, membership, or Northern Star services.&nbsp; Any e-mail address
given to a Northern Star employee or volunteer can be kept on record as your email address. Do not give any Credit Union representative an e-mail address that you believe is not secure or that you share access with. Although Northern Star is not obligated, we reserve the right to require authentication of e-mails or electronic communication. The decision to require authentication is at the sole discretion of the Credit Union. We may not immediately receive an e-mail you send and may not take action on a request delivered electronically, unless we receive it and have adequate time to act on it.</p>
                        <p>&nbsp;</p>
                        <h2>Northern Star Credit Union Privacy Policy</h2>
                   	<hr />
                        <p>Northern Star Credit Union is committed to making available financial products and services that will enable you to meet your financial goals. Protecting personal information and using it in a manner consistent with your expectations is a high priority for everyone associated with Northern Star Credit Union.</p>
                        <p>As a member of Northern Star Credit Union, you also have the responsibility to safeguard your financial information.</p>
                        <p>To ensure that you can rely upon the quality of products and services we make available, Northern Star Credit Union stands behind the following privacy policy:</p>
                        <p>&nbsp;Northern Star Credit Union will collect only the personal information that is necessary to conduct our business. That means just what is necessary to provide competitive financial products and services&mdash;no more.</p>
                        <p>Northern Star Credit Union will protect your personal information. Northern Star Credit Union will maintain strong security controls to ensure that member information in our files and computers is protected. Where appropriate, we will use security coding techniques to protect against unauthorized access to personal records, ensure accuracy and integrity of communications and
transactions and protect member confidentiality.</p>
                        <p>You will always have access to your information As a member of Northern Star Credit Union, you will always have the opportunity to review your information and make necessary changes to ensure that our records are complete and accurate.</p>
                        <p>Northern Star Credit Union will only share information when absolutely necessary.
                            We will only share information to administer the products and services we provide, when required to do so by the government, or when we partner with other businesses to offer a broader array of products and services.</p>
                        <p>Northern Star Credit Union will partner only with businesses that follow strict confidentiality requirements. The businesses we select will offer products designed to enhance our members&rsquo; economic well-being. Under no circumstances will we authorize these firms to charge your account without express consent, and we will not sell member information to telemarketing firms.</p>
                        <p>Northern Star Credit Union will offer you a choice in how your information is used. Any member of Northern Star Credit Union may elect to keep their information from being shared with our business partners. We will inform you on how to exercise your choice, and we will take all reasonable steps  to make sure your requests are followed. At least once a year we will remind all members of your right to choose.</p>                            
        -->
                </div>