<div id="innercontent" class="clearfix">
                	<h1>Our Partners</h1>
                    <br />
                    <table class="partners">
                        <tr>
                            <td class="rite"><%= link_to image_tag("partner_geico.jpg", :alt=>"AutoSmart"), "http://www.geico.com/landingpage/go51.htm?logo=17762", :rel=>"external" %></td>
                            <td>&nbsp;</td>
                            <td><%= link_to "Geico Insurance", "http://www.geico.com/landingpage/go51.htm?logo=17762", :rel=>"external" %></td>
                        </tr>
                        <tr>
                            <td class="rite"><%= link_to image_tag("partner_memberoptions.jpg", :alt=>"Member Options"), "https://www.memberoptions.com/", :rel=>"external" %></td>
                            <td>&nbsp;</td>
                            <td><%= link_to "Member Options Mortgage WebCenter", "https://www.memberoptions.com/", :rel=>"external" %></td>
                        </tr>
                        <tr>
                            <td class="rite"><%= link_to image_tag("partner.invest.gif", :alt=>"AutoSmart"), "http://www.lovemycreditunion.org/", :rel=>"external" %></td>
                            <td>&nbsp;</td>
                            <td><%= link_to "www.lovemycreditunion.org", "http://www.lovemycreditunion.org/", :rel=>"external" %></td>
                        </tr>
                        <tr>
                            <td class="rite"><%= link_to image_tag("partner_auto.jpg", :alt=>"AutoSmart"), "http://www.cudlautosmart.com/ASEntry.aspx?cucode=3904", :rel=>"external" %></td>
                            <td>&nbsp;</td>
                            <td><%= link_to "CUDL AutoSmart", "http://www.cudlautosmart.com/ASEntry.aspx?cucode=3904", :rel=>"external"%></td>
                        </tr>
                        <tr>
                            <td class="rite"><%= link_to image_tag("partner_pfp.gif", :alt=>"Family Security Plan"), "http://www.familysecurityplan.com", :rel=>"external" %></td>
                            <td>&nbsp;</td>
                            <td><%= link_to "Family Security Plan", "http://www.familysecurityplan.com", :rel=>"external" %></td>
                        </tr>
                        <tr>
                            <td class="rite"><%= link_to image_tag("partner_cuStudentLoans.jpg", :alt=>"Family Security Plan"), "http://www.custudentloans.org/n/mf421b", :rel=>"external" %></td>
                            <td>&nbsp;</td>
                            <td><%= link_to "Student Loans", "http://www.custudentloans.org/n/mf421b", :rel=>"external" %></td>
                        </tr>
                    </table>
                    <div id="partners">
                    </div>
                </div>