<div id="innercontent" class="clearfix">
                    <a name="top"></a>
                	<h1>Products &amp; Services</h1>
                    <%= image_tag "products.jpg", :class=>"fright", :alt=>"Smiling Customer Service Rep" %>
                    <ul class="anchor">
                    	<li><%= link_to "Savings Accounts", :anchor => "savings" %></li>
                        <li><%= link_to "Checking Accounts", :anchor => "checking" %></li>
                        <li><%= link_to "Kasasa", :anchor => "kasasa" %></li>
                        <li><%= link_to "Loans &amp; Lines of Credit", :anchor => "loans" %></li>
                        <li><%= link_to "Score Enhancement", :anchor => "score" %></li>
                        <li><%= link_to "Other Northern Star Services", :anchor => "other" %></li>
                        <li><%= link_to "The Family Security Plan&reg;", :anchor => "family" %></li>
                    </ul>
					<a name="savings"></a>
                    <h2>Savings Accounts</h2>
                    <p>
                        Northern Star Credit Union offers you a variety
                        of savings plans to suit your financial
                        needs.&nbsp; All
                        members start off with a basic share
                        (savings) account, and can build
                        their account with services to fulfill
                        each of their particular needs.&nbsp; Whether
                        it's retirement planning with an
                        IRA, long term savings with a certificate,
                        or saving up for holiday spending
                        with our Christmas club, our members
                        have always enjoyed the convenience
                        of finding a selection of savings
                        accounts to suit their needs.&nbsp; The
                        following is a list of Northern Star's
                        standard savings accounts:
          </p>
                    <ul class="bull">
                        <li>Regular Share Account</li>
                        <li>Money Market Account</li>
                        <li>Certificates</li>
                        <li>IRA Share Accounts</li>
                        <li>IRA Certificates</li>
                        <li>Christmas Club</li>
                        <li>Vacation Club</li>
                        <li>Tax Club</li>
                    </ul>
                    <p>
                        Northern Star Credit Union offers <%= link_to "relationship
                        packages", membership_path(:anchor => "relationship") %> that reward members
                        who utilize a wide array of services.&nbsp;  Unlike
                        other financial institutions' relationship
                        packages, Northern Star's is based
                        upon the <em>average</em> daily balance,
                        not the <em>minimum</em> daily balance.&nbsp; Therefore,
                        if at any point during the month
                        your account falls below the stated
                        amount, you will not drop to a lower
                        tier unless your average balance
                        for the month is also below this
                        amount.
                    </p>
                    <p>
                        Any of our Northern Star accounts can
                        be accessed online through e-Branch
                        or over the phone through TelSTAR.&nbsp; All
                        Northern Star savings accounts are
                        interest bearing, check our <%= link_to "rates page", rates_path %> for the latest information.
                    </p>
                    <p>
                        Signing up for a Northern Star savings account
                        takes about fifteen minutes, and
                        can be done at any one of our branch
                        locations or 
                        <%= link_to "online", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %>.&nbsp; If
                        you have any further questions concerning this
                        service, or any of our other services,
                        feel free to call us during regular
                        working hours at (757)487-3474, or
                    email us at <%= mail_to "nstarcu@nstarcu.org", "nstarcu@nstarcu.org" %></a>. </p>
                    <p>
                        Effective January 1, 2009, the Life Savings
                        Insurance Policy will no longer be
                        available to our membership.&nbsp; This
                        change does not affect any Credit
                        Life or Disability Insurance you
                        may have with your loan(s) at Northern
                    Star.</p>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <p>&nbsp;</p>
                    <a name="checking"></a>
                    <h2>Classic Checking Accounts</h2>
                    <ul class="bull">
                    	<li>Low balance requirement to avoid monthly maintenance charge *</li>
                    	<li>No minimum balance required to open account</li>
                    	<li>Unlimited check writing</li>
                    	<li>Fee Visa Check Card</li>
                    	<li>Online access (requires free e-Branch sign-up)</li>
                    	<li>Telephone access (requires free TelSTAR sign-up)</li>
                    </ul>
                    <p>
                        Northern Star Credit Union
                        offers <%= link_to "relationship packages", membership_path(:anchor => "relationship") %> that reward members who utilize a wide array of services.&nbsp;  
                        Unlike other financial institutions' relationship packages, Northern Star's is based upon the <em>average</em> balance, not the <em>minimum</em> balance.&nbsp;  Therefore, if at any point during the month your account falls below the stated amount, you will not drop to a lower tier unless your average balance for the month is also below this amount.
                    </p>
                    <p>
                        Signing up for Northern Star's checking account takes about fifteen minutes, and can be done at any one of our branch locations or 
                        <%= link_to "online", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %>.&nbsp; If you have any further questions concerning this service, or any of our other services, feel free to call us during regular working hours at (757)487-3474, or email us at <%= mail_to "nstarcu@nstarcu.org", "nstarcu@nstarcu.org" %>. </p>
                    <p>
                        Please be advised, if you plan to leave the country and/or make transactions
                        outside of the United States, you must give Northern Star Credit Union
                        a ten day notice prior to your intent to use your VISA Check Card.
                    </p>
                    <p>
                        If you already have a Northern
                        Star checking account, and wish to reorder checks, go to our 
                        <%= link_to "check reorder website", "https://checkreorderexpress.com/prodreorder/reorder_form.cfm", :rel=>"external" %>.
                    </p>
                    <p>
                        All debit card and credit card processing is done through PSCU Financial Services, a partner with Northern Star Credit Union. PSCU may call regarding security matters or suspicious activity with your card. They may go over a list of purchases you have recently made with your plastic cards, however they will never ask for any personal information such as PINs, account numbers, passwords, or other private information. PSCU may ask for the last four digits of your social security number to verify your identity when they call you. If you choose not to answer this question, PSCU will ask you another question, such as your mother’s maiden name. &nbsp;
                    </p>
                    <p>
                        * See <%= link_to "Relationship Packages", membership_path(:anchor => "relationship") %> 
                        page for more details.
                    </p>
                    <p class="top"><%= link_to "Back to Top", :anchor=>"top" %></p>
                    <hr />
                    <p>&nbsp;</p>
                    <a name="kasasa"></a><h2>Do you Kasasa?</h2>
                    <h4>Kasasa Cash</h4>
                    <p><%= image_tag "kasasa.cash.logo.jpg", :class=>"fleft", :alt=>"Kasasa Cash Logo" %>
                        <%= link_to image_tag("kasasavid.cash.jpg", :class=>"fright", :alt=>"Kasasa Cash Logo"), "https://www.kasasa.com/videos/katie-cash", :rel=>"external confirm" %>
                        Kasasa Cash is a free checking account that pays you
                        massive interest in cash every month. It's your money,
                        so you should benefit the most from it.&nbsp; Kasasa Cash recognizes
                        the value of your business by giving you something back.
                        Not only is there no minimum balance, no monthly fees,
                        and nationwide ATM fee refunds, but you get paid cash.
                        That's right. Cash. No short-term offers or other megabank
                        shenanigans.
                    </p>
                    <h3>Kasasa Cash offers you:&nbsp;</h3>
                    <ul class="bull">
                        <li>A high interest rate on your balance</li>
                        <li>Up to $30 in foreign ATM refunds per month</li>
                        <li>Free Online Banking</li>
                        <li>Free Online Bill Pay</li>
                        <li>No minimum balance requirement</li>
                        <li>No monthly service fees</li>
                    </ul>
                    <p>Any of our Northern Star accounts can be accessed
                        free online through e-Branch or over the phone through
                        TelSTAR. Kasasa accounts are interest bearing, check
                        our rates page for the latest information. Membership
                        required.</p>
                    <p><%= link_to "Sign up for a Kasasa Cash account online now", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %></p>
                    <p>&nbsp;</p>
                    <h4>Kasasa Saver</h4>
                    <p><%= image_tag "kasasa.save.logo.jpg", :class=>"fleft", :alt=>"Kasasa Saver Logo" %>
                    <%= link_to image_tag("kasasavid.saving.jpg", :class=>"fright", :alt=>"Kasasa Cash Logo"), "https://www.kasasa.com/videos/theo-saver", :rel=>"external confirm" %>
                        Kasasa Saver puts saving on autopilot. It's a free, high-interest
                        saver account linked to your free Kasasa Cash checking
                        account (you need both) so the massive interest earned
                        on your checking and ATM fee refunds are automatically
                        deposited into your free Kasasa Saver account every month.
                        But that's not all. Your Saver account also piles high
                        interest on top of that.&nbsp; If you want to automatically
                        save more and save often, Kasasa Saver is for you.
                    </p>
                    <h3>Kasasa Saver (when combined with Kasasa Cash) offers you:</h3>
                    <ul class="bull">
                        <li>Interest and ATM refunds are deposited into an interest-bearing savings account</li>
                        <li>Free Online Banking</li>
                        <li>Free Online Bill Pay</li>
                        <li>No minimum balance requirement</li>
                        <li>No monthly service fees</li>
                    </ul>
                    <p>Any of our Northern Star accounts can be accessed free
                        online through e-Branch or over the phone through TelSTAR.
                        Kasasa accounts are interest bearing, check our rates
                    page for the latest information. Membership required.</p>
                    <p><%= link_to "Sign up for a Kasasa Saver account online now", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %></p>
                    <p>&nbsp;</p>
                    <h4>Kasasa Giving</h4>
                    <p>
                        <%= image_tag "kasasa.giving.logo.jpg", :class=>"fleft", :alt=>"Kasasa Giving Logo" %>
                        <%= link_to image_tag("kasasavid.giving.jpg", :class=>"fright", :alt=>"Kasasa Cash Logo"), "https://www.kasasa.com/videos/theo-giving", :rel=>"external confirm" %>
                        Kasasa Giving is a free, high-interest checking  account that helps you make charitable giving part of every day. Just like  Kasasa Cash, you earn massive interest on your checking account balance and are  refunded up to $30 per month in ATM fees from any machine nationwide. In  addition, Northern Star Credit Union  will donate 5&cent; of every debit card swipe over $5.00 to a charity of your  choosing. Think about it. The more you use your debit card, the more you help  the cause.</p>
                    <h3>Kasasa Giving offers you:</h3>
                    <ul class="bull">
                        <li>A high interest rate on your balance to keep</li>
                        <li>Up to $30 in foreign ATM refunds per month to keep</li>
                        <li>A portion of debit card purchases sent to your charity</li>
                        <li>Charitable donations may be tax deductible</li>
                        <li>Free Online Banking</li>
                        <li>Free Online Bill Pay</li>
                        <li>No minimum balance requirement</li>
                        <li>No monthly service fees</li>
                    </ul>
                    <p>In addition to the per swipe donation, by selecting your Local House of  Worship as your charity, you acknowledge and agree any earned interest from  your Kasasa Giving account and qualifying ATM refunds will be included in your  monthly donation as well. </p>
<p><%= link_to "Sign up for a Kasasa Giving account online now", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %></p>
                    <p>&nbsp;</p>
                    <p>Any of our Northern
                        Star accounts can be accessed free online through
                        e-Branch or over the phone through TelSTAR. Kasasa
                        accounts are interest bearing, check our rates page
                        for the latest information. Membership required.                    </p>
                    <p><br />
                        Signing up for a Northern Star Kasasa account takes about
                        fifteen minutes, and can be done 
                        <%= link_to "online", "https://secure.andera.com/index.cfm?fiid=20406982F28241DDAECA062A8E480B94", :rel=>"external" %> or in person.
                        Please be advised, if you plan to leave the country
                        and/or make transactions outside of the United States,
                        you must give Northern Star Credit Union a ten day
                        notice prior to your intent to use your VISA Check
                        Card. <br />
                        If you already have a Northern Star Kasasa account, and
                        wish to reorder checks, go to our 
                        <%= link_to "Check Reorder Website", "https://checkreorderexpress.com/prodreorder/reorder_form.cfm", :rel=> "external" %>.
                    </p>
                    <p>
                        All debit card and credit card processing is done through
                        PSCU Financial Services, a partner with Northern Star
                        Credit Union. PSCU may call regarding security matters
                        or suspicious activity with your card. They may go over
                        a list of purchases you have recently made with your
                        plastic cards, however they will never ask for any personal
                        information such as PINs, account numbers, passwords,
                        or other private information. PSCU may ask for the last
                        four digits of your social security number to verify
                        your identity when they call you. If you choose not to
                        answer this question, PSCU will ask you another question,
                        such as your mother&rsquo;s maiden name.
                    </p>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="loans"></a><h2>Loans &amp; Lines of Credit</h2>
                    <p>
                        Northern Star has a loan for you at any stage of your life.  Our 
                        application process is simple and fast and our rates are some of the 
                        most competitive around.  Northern Star boasts some of the most 
                        competitive <%= link_to "loan rates", rates_path %> in the area.  Any of our Northern Star loans or 
                        lines of credit can be accessed online through e-Branch or over the 
                        phone through TelSTAR.  Applying for a loan is easy; applications can 
                        be taken in person, <%= link_to "online", "https://www.24x7loans.com/northernstarcuauto/LoanApp.aspx", :rel=>"external" %>, 
                        or over the phone at (757) 487-3474.
                    </p>
                    <h3>Student Loans</h3>
                    <p>Sending a child to college is an exciting time and seeing
                      them graduate is one of the proudest moments for a parent
                      or grandparent. We are here to help you pay for your
                      child's education. We offer our credit union members
                      one of the lowest rates on private student loans. </p>
                    <p> Are federal loans not enough to cover the cost of your
                      college education?&nbsp; The EdAccess Loan can be the
                      answer to your funding needs. It takes less than 15 minutes
                      to apply. </p>
                    </p>
                  <ul class="bull">
                      <li>Borrow as little as $2,000 or as much as $30,000
                        per year. <strong>$120,000 lifetime maximum</strong></li>
                      <li>Defer full principal and interest payments until
                        six month after graduation or leaving school</li>
                      <li>Variable interest loan based upon LIBOR index plus
                        a margin.</li>
                      <li>Interest paid on loan may be <strong>tax deductible</strong>.
                        Please consult your tax advisor </li>
                      <li>Low fees (2.50%) based on repayment option selected &mdash; Borrower
                        has the option to choose between making interest
                        payments or a nominal $25 &quot;Good Faith&quot; payment
                        towards the loan while in school</li>
                      <li>Use the funds for <strong>any qualified</strong> educational
                        expense, including past due tuition bills</li>
                      <li>No prepayment penalty and 30-day loan cancellation
                        policy</li>
                      <li><strong>Fast pre-approval</strong> once we receive
                        your completed application</li>
                    </ul>
Visit our <%= link_to "CU Student Loan", "http://www.custudentloans.org/nstarcu", :rel=>"confirm external" %> site to sign up today. 
                <h3>New &amp; Used Auto Loans</h3>
                    <p>
                        Northern Star can finance your vehicle up to 100% of its value*.  
                        Terms are available up to 84 months for new automobiles and up to 60 
                        months for used.  In addition to financing you vehicle, Northern Star 
                        offers some great add-ons to protect your investment, including Credit 
                        Life and Disability Insurance and a Mechanical Repair Coverage.  GEICO 
                        Insurance Co. policy holders may also be able to receive a discount by 
                        mentioning their membership with Northern Star Credit Union.
                    </p>
                    <p><%= link_to "Click here to apply online for a Northern Star Auto Loan", "https://www.24x7loans.com/northernstarcuauto/LoanApp.aspx", :rel=>"external" %>.</p>
                    <h3>Second Mortgages and HELOCs
                    <%= image_tag "moneyhouse.jpg", :class=>"fright", :alt=>"miniature house on stack of money" %></h3>
                    <p>
                        Take advantage of the equity in your home with either a Second Mortgage loan or a Home Equity Line of Credit (HELOC).  Both options offer a unique way to suit your particular borrowing needs with the possibility of writing off the interest on your taxes.  Low closing costs and Payment Protection have made Northern Star's home equity products a favorite among our members for many years.  Terms available for the Northern Star Second Mortgage are up to 180 months, and Northern Star will cover all closing costs associated with the loan.*
                    </p>  
                    <p><%= link_to "Click here to apply online for a Northern Star Home Equity product", "https://www.24x7loans.com/northernstarcuauto/LoanApp.aspx", :rel=>"external" %>.</p>
                    <h3>Unsecured Loans</h3>
                    <p>
                        We realize sometimes bad things happen to good people, and a home equity loan may not be the best solution to solve some of these problems.  For this reason, Northern Star has unsecured loans, also known as Signature* loans.  Northern Star Signature loans can cover a broad range of needs, from debt consolidation to medical needs to any other reason you may need.  Terms available are up to 36 months, and Credit Life and Disability Insurance is available with all Signature loans.
                    </p>
                    <p><%= link_to "Click here to apply online for a Northern Star Signature Loan", "https://www.24x7loans.com/northernstarcuauto/LoanApp.aspx", :rel=>"external" %>.</p>
                    <h3>VISA Credit Card</h3>
                    <p>
                        VISA is a premier revolving line of credit accepted worldwide that goes with you anywhere your wallet does.  Northern Star's Classic VISA card carries a low fixed rate, with no annual fee, a twenty-five day grace period, and a same rate on cash advances.  Northern Star's Platinum VISA card offers the same features and convenience as our Classic card, but offers a point-based rewards program known as CURewards.  VISA Online is also available to any member who is an e-Branch subscriber.
                    </p>
                    <p>
                        Please be advised, if you plan to leave the country and/or make transactions outside of the United States, you must give Northern Star Credit Union a ten day notice prior to your intent to use your VISA Credit Card.
                    </p>
                    <p>
                        <strong>(800) 449-7728</strong> To report a lost or stolen VISA Card (Credit or Check Card)<br />
                        <strong>(800) 654-7728</strong> For 24/7 balance inquiries on your VISA Credit Card<br />
                        <%= link_to "Click here to apply online for a Northern Star VISA credit card", "https://www.24x7loans.com/northernstarcuauto/LoanApp.aspx", :rel=>"external" %>.
                    </p>
                    <p>
                        All debit card and credit card processing is done through
                        PSCU Financial Services, a partner with Northern
                        Star Credit Union. PSCU may call regarding security
                        matters or suspicious activity with your card. They
                        may go over a list of purchases you have recently
                        made with your plastic cards, however they will never
                        ask for any personal information such as PINs, account
                        numbers, passwords, or other private information.
                        PSCU may ask for the last four digits of your social
                        security number to verify your identity when they
                        call you. If you choose not to answer this question,
                        PSCU will ask you another question, such as your
                        mother’s maiden name.
                    </p>
                    
                    <h3>Asset &amp; Liability Protection Services</h3>
                    <p>Northern Star offers a variety of asset and liability protection plans*:</p>
                    <p>
                        <strong>Credit Life Protection</strong> reduces or pays off a member's loan balance, up to 
                        the policy maximum, if the borrower or covered joint borrower dies.                    
                    </p>
                    <p><strong>Credit Disability Protection</strong> makes monthly loan payments
                        up to the policy maximum should the member become totally
                        disabled. Payments continue until the member is no longer
                        totally disabled, dies or the loan is paid off. </p>
                    <p>
                        <strong>Mechanical
                        Repair Coverage</strong> is competitively priced and flexible protection from unexpected vehicle repairs after the manufacturer's warranty expires. 
						*  Pending certain conditions, stop by or call Northern Star for more details.  There may be a repayment of closing cost penalty for any Northern Star Home Equity Loan or Line of Credit that is paid off in the first 24 months of the term. Check our rates page for the latest rate information. </p>
<p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="score"></a><h2>Score Enhancement</h2>
                    <p>
                        <%= image_tag "credit.jpg", :class=>"fleft", :alt=>"Credit Score Enhancement" %>
                        Your credit score serves as a fingerprint to identify your financial past. It shows all of your data, from recent loan applications to current debt and from bill payment history to how long you have had your credit cards.  There are not too many things that can hinder your life as much as bad credit.
                    </p>
                    <p>
                        Unlike most other financial institutions, which are glad to give you a higher rate based on your credit, Northern Star wants to help you improve it.  Score Enhancement is Northern Star's unique program that helps you improve your credit score.  When you request our Score Enhancement service, a Northern Star representative will walk you through your credit report step by step and tell you how to improve each area.
                    </p>
                    <p>
                        While most credit reporting services give you a consolidated version of your report, Northern Star will give you a copy of the entire thing.  You see exactly what we see, exactly as it is reported to us.  This fully comprehensive score sheet is your best breakdown of your credit report.
                    </p>
                    <p>
                        Enhancing your credit score takes less time than most people think.  Most scores can be improved with the first six months, even if you have a few late payments on your report.  As your Score Enhancement guide, Northern Star representatives will also inform you how to keep your credit score in good condition after it has been repaired.
                    </p>
                    <p>Some things you may not know about your credit score:</p>
                    <ul class="bull">
                    	<li>Closing old credit cards does not help your score - in fact, it may hurt it.</li>
                    	<li>Applying for credit at many different places (ex. department stores, mail 
                        offers, banks, car dealerships) within a short amount of period can harm it.</li>
                    	<li>Converting credit cards to installment loans may help you in more ways than one 
                        when it comes to your credit score.</li>
                    	<li>Your income does not affect your score.</li>
                    	<li>The length of your current residence does not affect your score.
                    	Stop by today, you could change your credit standing in less time than you think.</li>
                    </ul>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                    <hr />
                    <a name="other"></a><h2>Other Northern Star Services</h2>
                    
                    <p>The following is a list of additional Northern Star products and services current 
                    	as of January 1, 2010. General Services</p>
                    <ul class="bull">
                    	<li>American Express traveler's Cheques</li>
                    	<li>Money Orders</li>
                    	<li>Western Union Wire Services</li>
                    	<li>Free Notary Service</li>
                    	<li>NADA Used Car Quotations</li>
                    	<li>Drive-Thru Teller Window (at our Main Office)</li>
                    </ul>
                    <h3>Online Services</h3>
                    <ul class="bull">
                    	<li>e-Branch (online account access)</li>
                    	<li>e-Statements</li>
                    	<li>EzPay24 (online bill payment system)</li>
                    	<li>Loan24 (online and over the phone loan application)</li>
                    	<li>Visa Online (check your balance or pay your bill)</li>
                    	<li>Visa e-Statements</li>
                    </ul>
                <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                <a name="family" id="family"></a>
                <h2>The Family Security Plan&reg;</h2>
                <p>Through a partnership with The Family Security Plan&reg;,
                    Northern Star Credit Union members may get permanent Life
                    Insurance, Disability Income Insurance, Critical Illness
                    Insurance, and now, Accident Insurance. The Family Security
                    Plan&reg; provides cost-effective, convenient ways for members
                    to acquire additional financial security for their families
                    in the event of an unexpected death, disability, critical
                    illness or accident. </p>
                <p><strong>Whole Life Insurance</strong> &ndash; Top features of Whole Life Insurance are premiums that never increase and death benefits that never decrease. Also, your policy accumulates cash value that you may borrow against for your children&rsquo;s education, financial opportunities, or for any other reason. The death benefits can help your family compensate for lost income and assist in paying bills. No matter what your family&rsquo;s financial needs are, The Family Security Plan&rsquo;s Life Insurance program will fit your lifestyle and budget!</p>
                <p><strong>Disability Income Insurance</strong> - Should you suddenly be unable to work and earn a living, your important expenses can be paid for with a monthly tax-free payment from your policy of The Family Security Plan&rsquo;s Disability Income Insurance. Worker&rsquo;s compensation may cover accidents that occur in the workplace, but according to the National Safety Council, over 90% of disabling accidents and illnesses are not work related.&nbsp; Disability Income does more than insure your income. It protects your lifestyle.</p>
                <p><strong>Critical Illness Insurance</strong> - Protect your
                    family, finances, and future with Critical Illness Insurance
                    through the Family Security Plan&reg;. For a few dollars
                    a week, you can ensure that you or a family member will receive
                    a cash lump sum upon first diagnosis of a covered critical
                    illness. In addition, you&rsquo;ll be automatically enrolled
                    in Best Doctors&reg;, free of charge. This benefit provides
                    access to a customized search within an up-to-date database
                    of over 50,000 world-class specialists to meet your medical
                    needs. </p>
                <p><strong>Accident Insurance</strong> &ndash; You want to be
                    active and healthy, but accidents are a part of life. Accident
                    Insurance helps pay for the unexpected expenses that result
                    from accidents, on or off the field, paying benefits above
                    and beyond what your health insurance plan pays. Like our
                    other products, you let Accident Insurance help take care
                    of the bills, so you can take care of each other. </p>
                <p>To find out more about any of these <em>The Family Security
                    Plan&reg;</em> programs, please stop in the lobby to
                    speak with your personal, qualified representative or
                    call us at (800) 990-7890 x2202.</p>
                <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
            </div>