<a name="top"></a>
                <div id="innercontent" class="clearfix">
                	<h1>Rates &amp; Fees</h1>
                    <%= image_tag "happycustomer.jpg", :class=>"fright", :alt=>"happy customer" %>
                    <ul class="anchor">
                    	<li><%= link_to "Current Rates", :anchor => "rates" %></li>
                        <li><%= link_to "Fees", :anchor => "fees" %></li>
                        <li><%= link_to "Calculators", :anchor => "calculators" %></li>
                    </ul>
                    <a name="rates"></a><h2>Current Rates</h2>
                    <p>The following is a list of Northern Star's rate schedules,
                        effective July 7, 2010</p>
                    <table class="rates">
                        <tr>
                            <th colspan="4">Dividend &amp; Savings Rates</th>
                        </tr>
                        <tr>
                            <td class="blu">Account Type</td>
                            <td class="blu">Balance</td>
                            <td class="blu">Rate</td>
                            <td class="blu">APY*</td>
                        </tr>
                        <tr>
                            <td>Share</td>
                            <td>$100 &amp; up</td>
                            <td>0.35%</td>
                            <td>0.35%</td>
                        </tr>
                        <tr>
                            <td>Money Market </td>
                            <td>$1,000
                                to 9,999<br />
                                $10,000 to 24,999<br />
                                $25,000 to 49,999<br />
                                $50,000 &amp; up</td>
                            <td> 0.50%<br />
                                0.75%<br />
                                1.00%<br />
                                1.24%</td>
                            <td>0.50%<br />
0.75%<br />
1.00%<br />
1.25%</td>
                        </tr>
                        <tr>
                            <td>Club Accounts&dagger;</td>
                            <td>$100 &amp; up</td>
                            <td>0.50%</td>
                            <td>0.50%</td>
                        </tr>
                        <tr>
                            <td>Kasasa Cash</td>
                            <td>$0 to $25,000**<br />
                                $25,000 &amp; up</td>
                            <td>2.32%<br />
                                1.00%</td>
                            <td>2.35%<br />
                                1.00%</td>
                        </tr>
                        <tr>
                            <td>Kasasa Saver</td>
                            <td>$0 to $25,000**<br />
                                $25,000 &amp; up</td>
                            <td>1.49%<br />
                                1.00%</td>
                            <td>1.50%<br />
                                1.00%</td>
                        </tr>
                        <tr>
                            <td>Kasasa Giving</td>
                            <td>$0 to $25,000**<br />
                                $25,000 &amp; up</td>
                            <td>2.32%<br />
                                1.00%</td>
                            <td>2.35%<br />
                                1.00%</td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="smallprint"> *APY
                                is Annual Percentage Yield<br />
                                ** See our Kasasa Page for complete details
                                regarding Kasasa qualifications. Non-qualifying
                                Kasasa accounts earn 0.15% APY. Kasasa Cash is
                            required for all Kasasa Saver accounts.<br />
                                &dagger;&nbsp; Early withdrawal is
                                subject to penalties.</span></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <table class="rates">
                        <tr>
                            <th colspan="4">Individual
                                Retirement Account (IRA) Rates &dagger;</th>
                        </tr>
                        <tr>
                            <td class="blu">Term</td>
                            <td class="blu">Minimum Balance</td>
                            <td class="blu">Rate</td>
                            <td class="blu">APY*</td>
                        </tr>
                        <tr>
                            <td>IRA Accounts</td>
                            <td>$250 - $4,999<br />
                                $5,000 &amp; Up</td>
                            <td>1.24%<br />
                                1.49% </td>
                            <td>1.25%<br />
                                1.50% </td>
                        </tr>
                        <tr>
                            <td>24 Month IRA Certificate (Fixed) &dagger;</td>
                            <td>$250</td>
                            <td>1.49%</td>
                            <td>1.50%</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="smallprint">* APY
                                is Annual Percentage Yield<br />
                                &dagger;&nbsp; Early withdrawal is
                                subject to penalties.</span></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <table class="rates">
                        <tr>
                            <th colspan="4">Certificate Rates &dagger;</th>
                        </tr>
                        <tr>
                            <td class="blu">Term</td>
                            <td class="blu">Minimum Balance</td>
                            <td class="blu">Rate</td>
                            <td class="blu">APY*</td>
                        </tr>
                        <tr>
                            <td> 6 Month</td>
                            <td>$1,000</td>
                            <td>0.75%</td>
                            <td>0.75%</td>
                        </tr>
                        <tr>
                            <td>12 Month</td>
                            <td>$1,000</td>
                            <td>1.00%</td>
                            <td>1.00%</td>
                        </tr>
                        <tr>
                            <td>24 Month</td>
                            <td>$1,000</td>
                            <td>1.24%</td>
                            <td>1.25%</td>
                        </tr>
                        <tr>
                            <td>36 Month</td>
                            <td>$1,000</td>
                            <td>1.49%</td>
                            <td>1.50%</td>
                        </tr>
                        <tr>
                            <td>48 Month</td>
                            <td>$1,000</td>
                            <td>1.74%</td>
                            <td>1.75%</td>
                        </tr>
                        <tr>
                            <td>60 Month</td>
                            <td>$1,000</td>
                            <td>1.99%</td>
                            <td>2.00%</td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="4"><span class="smallprint">*&nbsp;&nbsp; APY
                                is Annual Percentage Yield<br />
                                &dagger;&nbsp; Early withdrawal is subject to penalties.</span></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <table class="rates">
                        <tr>
                            <th colspan="3">&nbsp; Loan Rates</th>
                        </tr>
                        <tr>
                            <td class="blu">Loan Type</td>
                            <td class="blu">APR</td>
                            <td class="blu">Term</td>
                        </tr>
                        <tr>
                            <td>New &amp; Used Auto</td>
                            <td>As Low As 8.25%</td>
                            <td>Up to 60 Months</td>
                        </tr>
                        <tr>
                            <td>Second Mortgage</td>
                            <td>As Low As 8.25%</td>
                            <td>Up to 60 Months</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>As Low As 9.25%</td>
                            <td>Up to 180 Months</td>
                        </tr>
                        <tr>
                            <td>Unsecured</td>
                            <td>As Low As 11.25%</td>
                            <td>Up to 36 Months</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="blu">Lines of Credit</td>
                            <td class="blu">APR</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Visa Platinum Card</td>
                            <td>As Low As 10.99%</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Visa Classic Card</td>
                            <td>As Low As 11.99%</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Overdraft Protection</td>
                            <td>9.50%</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Home Equity Lines of Credit</td>
                            <td>Prime*</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3"><span class="smallprint">Rates are subject
                                to change with the market, and are determined
                                by member credit and quoted &quot;as low
                                as&quot;.<br /><br />
                                * ”Prime” refers to Wall Street Journal Prime Interest Rate. 
                                All HELOCs carry a floor of 5.50% APR<br /><br />
                                Any loan with a term in excess of 84 months will have a 
                                call option anytime after the 5th year.<br />
                                Maximum Overdraft Line is $2,500.00
                            </span></td>
                        </tr>
                    </table>
                    <p class="top"><%= link_to "Back to Top", :anchor =>"top" %></p>
                    <hr />
                    <a name="fees"></a><h2>Fees</h2>
                    <p>&nbsp;</p>
                    <p>The following is a list of Northern Star's fee schedules,
                        effective August 1, 2010.</p>
                    <table class="rates">
                        <tr>
                            <th colspan="2"> Share Account Fees</th>
                        </tr>
                        <tr>
                            <td class="blu"><strong> Description</strong></td>
                            <td class="blu"><strong> Fee</strong></td>
                        </tr>
                        <tr>
                            <td>Monthly Maintenance Charge *<br />
                                &nbsp;&nbsp;(for Basic Accounts only)</td>
                            <td>$12 per month</td>
                        </tr>
                        <tr>
                            <td>NSF Fee</td>
                            <td>$30 per item</td>
                        </tr>
                        <tr>
                            <td align="left">Returned
                                Item Fee</td>
                            <td align="left">$30
                                per item</td>
                        </tr>
                        <tr>
                            <td>Stop Payment Fee</td>
                            <td>$25 per item</td>
                        </tr>
                        <tr>
                            <td> Check Prices</td>
                            <td>Vary according to style</td>
                        </tr>
                        <tr>
                            <td>Paper Statement</td>
                            <td>$3 per month</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                    <table class="rates">
                        <tr>
                            <th colspan="2">Other Service Fees</th>
                        </tr>
                        <tr>
                            <td class="blu"><strong>Description</strong></td>
                            <td class="blu"><strong>Fee</strong></td>
                        </tr>
                        <tr>
                            <td>Account Research / Reconciliation Fee</td>
                            <td>$25 per hour</td>
                        </tr>
                        <tr>
                            <td>Wire transfer (Outgoing)</td>
                            <td>$5 per transfer</td>
                        </tr>
                        <tr>
                            <td>Corporate Draft Fee</td>
                            <td>$5 per check</td>
                        </tr>
                        <tr>
                            <td>Money Order Fee</td>
                            <td>$1 per item</td>
                        </tr>
                        <tr>
                            <td>Garnishment / Levy Fee</td>
                            <td>$50</td>
                        </tr>
                        <tr>
                            <td>Account Closure Fee</td>
                            <td>$25 per closure<br />
                                <em>(if closed within 90 days of opening)</em></td>
                        </tr>
                        <tr>
                            <td>Account History</td>
                            <td>$1 per page</td>
                        </tr>
                        <tr>
                            <td>ACH Return/Block Fee</td>
                            <td>$25 per item</td>
                        </tr>
                        <tr>
                            <td>ATM / Debit PIN Replacement</td>
                            <td>$5 each</td>
                        </tr>
                        <tr>
                            <td>Check Copy Fee</td>
                            <td>$10 per check</td>
                        </tr>
                        <tr>
                            <td>Bad Address</td>
                            <td>$10 per month</td>
                        </tr>
                        <tr>
                            <td>Inactive/Dormant Account</td>
                            <td>$10 per month<br />
                                (after 12 mos. of no activity)</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <table class="rates">
                        <tr>
                            <th colspan="2">Electronic
                                Funds transfer Fees</th>
                        </tr>
                        <tr>
                            <td class="blu"><strong>Description</strong></td>
                            <td class="blu"><strong>Fee</strong></td>
                        </tr>
                        <tr>
                            <td>Nonproprietary ATM Withdrawal Fee</td>
                            <td>$1 per transaction</td>
                        </tr>
                        <tr>
                            <td>Check Card Replacement / Reinstatement Fee</td>
                            <td>$30 per card</td>
                        </tr>
                        <tr>
                            <td>Check Card NSF Fee</td>
                            <td>$30 per item</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                    <p>*&nbsp;  Please see our <%= link_to "Relationship Packages", membership_path(:anchor => "relationship") %> page for more details.</p>
                    <p class="top"><%= link_to "Back to Top", :anchor =>"top" %></p>
                    <hr />
                    <a name="calculators"></a><h2>Calculators</h2>
                    <ul class="bull">
                        <li><%= link_to "Credit Card Payoff", ccpc_path, :rel=>"external" %></li>
                        <li><%= link_to "Standard Loan", slc_path, :rel=>"external" %></li>
                        <li><%= link_to "Retirement", rc_path, :rel=>"external" %></li>
                        <li><%= link_to "Fixed Rate Mortgage", frmc_path,  :rel=>"external" %></li>
                        <li><%= link_to "Compound Interest", cic_path, :rel=>"external" %></li>
                    </ul>
                    <p class="top"><%= link_to "Back to Top", :anchor => "top" %></p>
                </div>