</div> <!-- #outerright -->
        	</div> <!-- #outercontent -->
		</div> <!--	#container -->
	<div id="footer" class="clearfix">
        <ul>
        	<li><%= image_tag "ncua.jpg", :alt=>"NCUA" %></li>
            <li class="star clearfix"><%= link_to "Privacy Policy", privacy_path %></li>
            <li class="star"><%= link_to "Contact Us", new_contact_path %></li>
            <li class="star"><%= link_to "Account Disclosures", disclosure_path %></li>
            <li><%= image_tag "ehl.jpg", :alt=>"EHL" %></li>
        </ul>
    </div>
    <p class="centertext smallprint">&copy; Copyright, Northern Star Credit
    Union, 2010.&nbsp; All Rights Reserved.</p>
    <table>
        <tr>
            <td><%= image_tag "w3c.png", :alt=>"Valid XHTML 1.0 Strict" %>
            </td>
            <td>&nbsp;</td>
            <td><p class="centertext smallprint">Designed &amp; Maintained by:<br />
            <%= link_to image_tag("shareone.jpg", :alt=>"Valid XHTML 1.0 Strict"), "http://www.shareone.com/", :rel=>"external" %></p></td>
        </tr>
	</table>